.alert
	&--progress
		background none
		border 1px solid #6e8e2d
		margin .5em 0
		padding .25em
	&--bigger
		padding .5em 1.2em

.progress
	&--green
		height .8em
		.progress-bar
			background-color #6e8e2d