.btn
	border-radius 15px
	box-shadow 4px 4px 0 -1px rgba(221,237,239,.8)
	font-family font
	font-weight 700
	transition all 100ms linear
	&:hover, &:focus, &:active, &.active
		box-shadow 4px 4px 0 -1px rgba(205,224,215,.8)
	&--lite
		border-radius 4px
	&-verde
		background #6e8e2d
		color white
		&:hover, &:focus, &:active, &.active
			background #648128
			color white
	&-rojo
		background #c75130
		color white
		&:hover, &:focus, &:active, &.active
			background #b74525
			color white
	&-cursos
		background #d2dda5
		border 1px solid white
		color #444b51
		&:hover, &:focus, &:active, &.active
			background #ced3be
			color #444b51
	&-especializaciones
		background #c0d7bf
		border 1px solid white
		color #444b51
		&:hover, &:focus, &:active, &.active
			background #c0d7bf
			color #444b51
	&-azul
		background #83a7c4
		color white
		&:hover, &:focus, &:active, &.active
			background #6997bc
			color white
	&-facebook
		background #3874b8
		border-radius 4px
		color white
		&:hover, &:focus, &:active, &.active
			background #2664a9
			color white
	&--academy
		padding-left 3em
		padding-right 3em
	&--academy2
		padding-left 4em
		padding-right 4em
	&--right
		margin-left 1em
	&--left
		margin-right 1em
	&-gosh
		background none
		border 2px solid white
		color white
		opacity .8
		vertical-align middle
		transform translateZ(0)
		box-shadow none
		backface-visibility hidden
		font-weight 400
		font-size 1em
		-moz-osx-font-smoothing grayscale
		line-height 1.5em
		padding-bottom .3em
		padding-top .4em
		position relative
		-webkit-animation-name animated_arrow
		animation-name animated_arrow
		&:before
			content ''
			position absolute
			border none
			border-radius 18px
			top 0
			right 0
			bottom 0
			left 0
			-webkit-animation-duration .5s
			animation-duration .5s
		&:hover, &:focus, &:active
			border-color transparent
			box-shadow none
			color white
			opacity 1
			&:before
				border solid 2px white
				margin -2px
				-webkit-animation-name hvr-ripple-out
				animation-name hvr-ripple-out
		&--azul
			border 2px solid azul_cla
			color azul_cla
			&:hover, &:focus, &:active
				border-color transparent
				&:before
					border solid 2px azul_cla
		&--gris
			border 2px solid #a5b7c5
			color #a5b7c5
			&:hover, &:focus, &:active
				border-color transparent
				color #6e8e2d
				&:before
					border solid 2px #6e8e2d
		&--verde
			border 2px solid #6e8e2d
			color #6e8e2d
			&:hover, &:focus, &:active
				border-color transparent
				color #6e8e2d
				&:before
					border solid 2px #6e8e2d
	&-lg
		border-radius 22px
		&:before
			border-radius 22px
	&-lg1
		border-radius 26px
		font-size 1.5em
		&:before
			border-radius 26px
	&-xsm
		border-radius 22px
		font-size .8em
		padding-bottom .15em
		padding-top .1em
		&:before
			border-radius 22px
	&-xlg
		border-radius 25px
		box-shadow 6px 7px 0 -2px rgba(221,237,239,.8)
		font-size 1.5em
		&:before
			border-radius 25px
		&:hover, &:focus, &:active, &.active
			box-shadow 6px 7px 0 -2px rgba(205,224,215,.8)
	&-regular
		border-radius 4px
		&:before
			border-radius 4px