.margin
	&--t0
		margin-top 0
	&--t05
		margin-top .5em
	&--t1
		margin-top 1em
	&--t2
		margin-top 2em
	&--t3
		margin-top 3em
	&--t4
		margin-top 4em
	&--t5
		margin-top 5em
	&--t6
		margin-top 6em
	&--t7
		margin-top 7em
	&--t8
		margin-top 8em
	&--t10
		margin-top 10em
		
	&--b0
		margin-bottom 0
	&--b05
		margin-bottom .5em
	&--b1
		margin-bottom 1em
	&--b2
		margin-bottom 2em
	&--b3
		margin-bottom 3em
	&--b4
		margin-bottom 4em
	&--b5
		margin-bottom 5em
	&--b6
		margin-bottom 6em
	&--b7
		margin-bottom 7em
	&--b8
		margin-bottom 8em

	&--tn1
		margin-top -1em
	&--tn2
		margin-top -2em
	&--tn3
		margin-top -3em
	&--tn4
		margin-top -4em
	&--tn5
		margin-top -5em
		
	&--bn1
		margin-bottom -1em
	&--bn2
		margin-bottom -2em
	&--bn3
		margin-bottom -3em
	&--bn4
		margin-bottom -4em
	&--bn5
		margin-bottom -5em
	
	&--l1
		margin-left 1em
	&--l2
		margin-left 2em
		
	&--r1
		margin-right 1em
	&--r2
		margin-right 2em
		

.padding
	&--r0
		margin-right 0
	&--l0
		margin-left 0
