.panel
	&-example
		border 1 px solid black
	&-group
		&--detalleCurso
			background none
			.panel-default
				background none
				border 0
				border-radius 0
				box-shadow none
				margin-top 0 !important
				border-bottom 1px solid #d7d5d5
			.panel-heading
				background none
				padding 0
				& > a
					color white
					display block
					padding 1em 1.5em
					text-decoration none
					&.active
						background #002b62
			.panel-body
				border-top none !important
				padding 0
				.list-group
					background none
					margin-bottom 0
				.list-group-item
					background white
					border-radius 0
					border 1px solid #e2e0e0
					border-left 5px solid transparent
					color gris_osc
					font-size .9em
					&.active
						border-left 5px solid #6e8e2d
						color gris_osc