.sidebar
	&-blueGrandient
		background-radial-gradient(#d0dde6, azul_cla)
		padding 2em 0
		&--cero1
			padding 2em 0 0
	&-yellowGrandient
		background-radial-gradient(#eee4cb, #f9db9b)
		padding 2em 0
		&--xlg
			padding 2em 0 8em
	&-greenGrandient
		background-radial-gradient(#d7e9e3, #b8eade)
		padding 2em 0
		&--xlg
			padding 2em 0 8em
	&-contentMedia
		margin-bottom -5em
	&-naranja
		background #e8ad2c
	&-azul
		background #68a0cf
	&-verde
		background #81c8b8
	&-verde1
		background #AFE8DF
		&:before
			background url('../images/arrow_green.png') 0 0 repeat-x
			bottom -9px
			content ''
			display block
			height 9px
			left 0
			position absolute
			width 100%
			z-index 1
	&-table
		background #e9f6f3 url('../images/back-table.jpg') repeat-x 0 100%
		&:before
			background url('../images/back-table-left.png') 0 0 repeat-x
			bottom 30px
			content ''
			display block
			height 203px
			left 0
			position absolute
			width 281px
			z-index 1
		&:after
			background url('../images/back-table-right.png') 0 0 repeat-x
			bottom 30px
			content ''
			display block
			height 240px
			right 0
			position absolute
			width 348px
			z-index 1
		&__cont
			padding-top 4em
			padding-bottom 6em
			&:before
				background url('../images/arrow-table.png') 0 0 repeat-x
				bottom -9px
				content ''
				display block
				height 9px
				left 0
				position absolute
				width 100%
				z-index 1
			
	&-blanco
		background white
	&-bloqs1
		z-index 3
		margin-bottom -10em
	&-bloqs
		min-height 600px
		padding-bottom 2em
		padding-top 2em
	&-bloqs2
		background #f2f6f9
		padding-top 0em
		padding-bottom 2em
	&-section
		padding-bottom 2em
		padding-top 2em
	&-section2
		padding-bottom 2em
		padding-top 10em
		&--cursos
			padding-top 0
	&-section3
		padding-bottom 2em
		padding-top 4em
	&-section4
		padding-bottom 2em
		padding-top 5em
	&-imageCurso
		position relative
		&__nombre
			position absolute
			bottom -1em
		&__image
			border 3px solid azul_mid
			margin-right .5em
			width 70px
		&__qualy
			color white
			position absolute
			top 1em
	&-add
		&__montain
			position relative
			&:after
				background url('../images/spoiler1-r.png') 0 0
				bottom -120px
				content ''
				display block
				height 176px
				position absolute
				right 0
				width 599px
				z-index 1
			&:before
				background url('../images/spoiler1-l.png') 0 0
				bottom -119px
				content ''
				display block
				height 176px
				position absolute
				left 0
				width 599px
				z-index 1
		&__montainR
			position relative
			&:after
				background url('../images/spoiler1-r.png') 0 0
				bottom -120px
				content ''
				display block
				height 176px
				position absolute
				right 0
				width 599px
				z-index 1
	&-perfil
		background #f5f5f5
		padding-bottom 4em
		&__top
			background #d7e5f1
			padding-top 2em
			padding-bottom 2em
			& > img
				border 2px solid azul
				max-width 130px
	&-footer
		&__top
			background azul_cla
			padding-bottom 1em
			padding-top 1em
			&--internas
				background white
		&__bottom
			background gris1
			padding-bottom 1em
			padding-top 1em
			&:after
				background url('../images/footer-left.png') 0 0
				top -106px
				content ''
				display block
				height 213px
				position absolute
				left 2em
				width 181px
				z-index 1
			&:before
				background url('../images/footer-right.png') 0 0
				top -176px
				content ''
				display block
				height 213px
				position absolute
				right 2em
				width 181px
				z-index 1
		&__bottom2
			background gris1
			padding-bottom 1em
			padding-top 1em
			&:before
				background url('../images/footer-right2.png') 0 0
				top -20px
				content ''
				display block
				height 132px
				position absolute
				right 2em
				width 162px
				z-index 1
		&__iconSocial
			border-radius 50%
			display inline-block
			height 2em
			margin 0 .1em
			padding .5em 0
			position relative
			text-align center
			width 2em
			&--facebook
				background #4d88c5
				color white
				margin-left 2em
				&:hover,&:active,&:focus
					background white
					color #4d88c5
					Text-decoration none
			&--twitter
				background #6db7e5
				color white
				&:hover,&:active,&:focus
					background white
					color #6db7e5
					Text-decoration none
	&-parallax
		bottom 0
		height 100%
		left 0
		position absolute
		right 0
		top 0
		width 100%
		z-index 1
		&__nubes1
			position absolute
			left 3em
			top 3em
		&__nubes2
			position absolute
			right 3em
			top 3em
	&-leftBlock
		background #f6f6f6
		margin-top 1em
		padding-top 2em
		padding-bottom 2em
	&-detalleContenidoCurso
		background url('../images/banner-detalle-curso.jpg') 100% 0 no-repeat
		background-size cover
		padding-bottom 2em
		padding-top 2em
	&-contenidoCurso
		background #647e9e
		padding-bottom 4em
	&-right
		background #eeeeee
		padding-bottom 2em
		padding-top 2em
	&-nextPreview
		padding-top 1em
		padding-bottom 1em
		padding-right 3em
		margin-top 1em
		&__btnNext
			position absolute
			top 50%
			right .5em
			margin-top -1.2em
			
	&-contentMenu
		overflow-x hidden
		&__menu_init
			position relative
			transition all 500ms ease
		&__menu_completo
			position relative
			transition all 500ms ease
		.disabled
			display none
		
.vertical
	&-middle
		vertical-align middle
					
.display
	&-table
		display table
		height 100%
	&-row
		display table-row
		height 100%
	&-cell
		display table-cell
		height 100%
