.table
	&--detallePerfil
		& > tbody
			& > tr
				& > td
					padding 1em .25em .7em
					border-bottom 1px solid #b3b3b3
					border-top none
					vertical-align middle
	&--recursos
		& > tbody
			& > tr
				& > th
					background #e6e6e6
					border-top none
					color azul_osc
					font-weight 800
					vertical-align middle
				& > td
					color gris_osc
					vertical-align middle