<div class="row" ng-if="filter=='related' || filter=='absolute' || filter == 'input'">
    <div class="alert-info alert text-center"ng-if="listCourses.length ==0">
        No hay cursos que mostrar.
    </div>
    <div class="allPublic">
        <div class="container" ng-repeat="row in listCourses | limitTo:limit">
            <div class="col-lg-3 col-xs-6 margin--t1" ng-repeat="coursePublic in row">
                <div class="col-xs-12 sidebar-bloqs2">
                    <div class="row sidebar-imageCurso">
                        <a ng-href="">
                            <img src="{{coursePublic.image}}" class="img-course img-responsive" align="middle" ng-if="coursePublic.image != null">

                            <img src="/existaya/images/defaultCourseCover.png" class="img-course img-responsive" align="middle" ng-if="coursePublic.image == null">
                        </a>
                        <div class="sidebar-imageCurso__nombre">
                            <div class="col-md-4">
                                <img ng-if="coursePublic.tutors[0].avatar != null" ng-src="{{coursePublic.tutors[0].avatar}}" alt="" class="img-circle sidebar-imageCurso__image" > 
                                <img ng-if="coursePublic.tutors[0].avatar == null" src="/existaya/images/avatarDefault.png" alt="" class="img-circle sidebar-imageCurso__image">
                            </div>
                            <div class="col-md-8">
                                <div ng-if="coursePublic.tutors[0].first_name != '' && coursePublic.tutors[0].last_name != ''" class="text text--blanco bg-nameTutor">
                                    {{coursePublic.tutors[0].first_name}} {{coursePublic.tutors[0].last_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 sidebar-imageCurso__qualy">
                            <span class="fa fa-star" ng-if="coursePublic.score > 0"></span>
                            <span class="fa fa-star" ng-if="coursePublic.score > 1"></span>
                            <span class="fa fa-star" ng-if="coursePublic.score > 2"></span>
                            <span class="fa fa-star" ng-if="coursePublic.score > 3"></span>
                            <span class="fa fa-star" ng-if="coursePublic.score == 5"></span>

                            <span class="fa fa-star-o" ng-if="coursePublic.score < 5"></span>
                            <span class="fa fa-star-o" ng-if="coursePublic.score < 4"></span>
                            <span class="fa fa-star-o" ng-if="coursePublic.score < 3"></span>
                            <span class="fa fa-star-o" ng-if="coursePublic.score < 2"></span>
                            <span class="fa fa-star-o" ng-if="coursePublic.score < 1 || coursePublic.score == 0"></span>
                        </div>
                    </div>
                    <h3 class="text text--gris titleCourse text--md text--bold margin--t2">
                        {{coursePublic.name | limitTo:34}}
                    </h3>
                    <p class="text text--sm text--gris_cla margin--t1 textDescription">

                    {{ coursePublic.description | limitTo:127}}...

                    </p>
                    <p class="text text--azul_cla timeSpace text--lite margin--t1">
                    <span class="fa fa-clock-o"></span><span ng-if="coursePublic.duration != null"> {{coursePublic.duration}} Horas</span>
                    <span ng-if="coursePubloic.duration == null"> No hay un tiempo de duración asignado al curso.</span>
                    </p>
                    <a  ng-href="/course/{{coursePublic.slug}}/details" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05" ng-click="scrolltop()"> MÁS INFORMACIÓN </a>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="row" ng-if="filter == 'certificates'">
    <div class="alert-info alert text-center"ng-if="listCourses.length ==0">
        No hay cursos que mostrar.
    </div>
    <div class="allPublic">
        <div class="container" ng-repeat="row in listCourses">
            <div class="col-lg-3 col-xs-6 margin--t1" ng-repeat="course in row">
                <div class="col-xs-12 sidebar-bloqs2">
                    <div class="row sidebar-imageCurso">
                        <a ng-href="">
                            <img ng-src="{{course.image}}" class="img-course img-responsive">
                        </a>
                        <div class="sidebar-imageCurso__nombre">
                            <div class="col-md-4">
                                <img ng-if="coursePublic.tutors[0].avatar != null" ng-src="{{coursePublic.tutors[0].avatar}}" alt="" class="img-circle sidebar-imageCurso__image" > 
                                <img ng-if="coursePublic.tutors[0].avatar == null" src="/existaya/images/avatarDefault.png" alt="" class="img-circle sidebar-imageCurso__image">
                            </div>
                            <div class="col-md-8">
                                <div ng-if="coursePublic.tutors[0].name != '' && coursePublic.tutors[0].lastname != ''" class="text text--blanco bg-nameTutor">
                                    {{coursePublic.tutors[0].name}} {{coursePublic.tutors[0].lastname}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 sidebar-imageCurso__qualy">
                            <span class="fa fa-star" ng-if="course.score > 0"></span>
                            <span class="fa fa-star" ng-if="course.score > 1"></span>
                            <span class="fa fa-star" ng-if="course.score > 2"></span>
                            <span class="fa fa-star" ng-if="course.score > 3"></span>
                            <span class="fa fa-star" ng-if="course.score == 5"></span>

                            <span class="fa fa-star-o" ng-if="course.score < 5"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 4"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 3"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 2"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 1 || course.score == 0"></span>


                        </div>
                    </div>
                    <h3 class="text text--gris titleCourse text--md text--bold margin--t2">
                        {{course.name | limitTo:34}}
                    </h3>
                    <p class="text text--sm text--gris_cla margin--t1 textDescription">

                    {{ course.description | limitTo:127}}...

                    </p>
                    <p class="text text--azul_cla timeSpace text--lite margin--t1">
                    <span class="fa fa-clock-o"></span><span ng-if="course.duration != null"> {{course.duration}} Horas</span>
                    <span ng-if="course.duration == null"> No hay un tiempo de duración asignado al curso.</span>
                    </p>
                    <a  ng-href="/certification/details/{{course.slug}}" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05" ng-click="scrolltop()"> MÁS INFORMACIÓN </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="limit==undefined && filter != 'certificates' ">
    <div class="alert-info alert text-center"ng-if="listCourses.length ==0">
        No hay cursos que mostrar.
    </div>
    <div class="allPublic">
        <div class="container" ng-repeat="row in listCourses">
            <div class="col-lg-3 col-xs-6 margin--t1" ng-repeat="course in row">
                <div class="col-xs-12 sidebar-bloqs2">
                    <div class="row sidebar-imageCurso">
                        <a ng-href="">
                            <img ng-src="{{course.image}}" class="img-course img-responsive">
                        </a>
                        <div class="sidebar-imageCurso__nombre">
                            <div class="col-md-4">
                                <img ng-if="coursePublic.tutors[0].avatar != null" ng-src="{{coursePublic.tutors[0].avatar}}" alt="" class="img-circle sidebar-imageCurso__image" > 
                                <img ng-if="coursePublic.tutors[0].avatar == null" src="/existaya/images/avatarDefault.png" alt="" class="img-circle sidebar-imageCurso__image">
                            </div>
                            <div class="col-md-8">
                                <div ng-if="coursePublic.tutors[0].name != '' && coursePublic.tutors[0].lastname != ''" class="text text--blanco bg-nameTutor">
                                    {{coursePublic.tutors[0].name}} {{coursePublic.tutors[0].lastname}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 sidebar-imageCurso__qualy">
                            <span class="fa fa-star" ng-if="course.score > 0"></span>
                            <span class="fa fa-star" ng-if="course.score > 1"></span>
                            <span class="fa fa-star" ng-if="course.score > 2"></span>
                            <span class="fa fa-star" ng-if="course.score > 3"></span>
                            <span class="fa fa-star" ng-if="course.score == 5"></span>

                            <span class="fa fa-star-o" ng-if="course.score < 5"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 4"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 3"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 2"></span>
                            <span class="fa fa-star-o" ng-if="course.score < 1 || course.score == 0"></span>


                        </div>
                    </div>
                    <h3 class="text text--gris titleCourse text--md text--bold margin--t2">
                        {{course.name | limitTo:34}}
                    </h3>
                    <p class="text text--sm text--gris_cla margin--t1 textDescription">

                    {{ course.description | limitTo:127}}...

                    </p>
                    <p class="text text--azul_cla timeSpace text--lite margin--t1">
                    <span class="fa fa-clock-o"></span><span ng-if="course.duration != null"> {{course.duration}} Horas</span>
                    <span ng-if="course.duration == null"> No hay un tiempo de duración asignado al curso.</span>
                    </p>
                    <a  ng-href="/course/{{course.slug}}/details" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05" ng-click="scrolltop()"> MÁS INFORMACIÓN </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="limit == 4 && filter != 'absolute' && filter != 'related' && filter != 'input' ">
    <div class="alert-info alert text-center"ng-if="listCourses.length ==0">
        No hay cursos que mostrar.
    </div>
    <div class="col-lg-3 col-xs-6 margin--t1" ng-repeat="course in listCourses | limitTo: 4">
        <div class="col-xs-12 sidebar-bloqs2">
            <div class="row sidebar-imageCurso">
                <a ng-href="">
                    <img ng-src="{{course.image}}" class="img-course img-responsive">
                </a>
                <div class="sidebar-imageCurso__nombre">
                    <div class="col-md-4">
                        <img ng-if="course.tutors[0].avatar != null" ng-src="{{course.tutors[0].avatar}}" alt="" class="img-circle sidebar-imageCurso__image" > 
                        <img ng-if="course.tutors[0].avatar == null" src="/existaya/images/avatarDefault.png" alt="" class="img-circle sidebar-imageCurso__image">
                    </div>
                    <div class="col-md-8">
                        <div ng-if="course.tutors[0].name != '' && course.tutors[0].lastname != ''" class="text text--blanco bg-nameTutor">
                            {{course.tutors[0].first_name}} {{course.tutors[0].last_name}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 sidebar-imageCurso__qualy">
                    <span class="fa fa-star" ng-if="course.score > 0"></span>
                    <span class="fa fa-star" ng-if="course.score > 1"></span>
                    <span class="fa fa-star" ng-if="course.score > 2"></span>
                    <span class="fa fa-star" ng-if="course.score > 3"></span>
                    <span class="fa fa-star" ng-if="course.score == 5"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 5"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 4"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 3"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 2"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 1 || course.score == 0"></span>


                </div>
            </div>
            <h3 class="text text--gris titleCourse text--md text--bold margin--t2">
                {{course.name | limitTo:34}}
            </h3>
            <p class="text text--sm text--gris_cla margin--t1 textDescription">

            {{ course.description | limitTo:127}}...

            </p>
            <p class="text text--azul_cla timeSpace text--lite margin--t1">
            <span class="fa fa-clock-o"></span><span ng-if="course.duration != null"> {{course.duration}} Horas</span>
            <span ng-if="course.duration == null"> No hay un tiempo de duración asignado al curso.</span>
            </p>
            <a  ng-href="/course/{{course.slug}}/details" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05" ng-click="scrolltop()"> MÁS INFORMACIÓN </a>
        </div>
    </div>
</div>
<div class="row" ng-if="limit == 3">
    <div class="col-lg-4 col-xs-6 margin--t1" ng-repeat="course in listCourses">
        <div class="col-xs-12 sidebar-bloqs2">
            <div class="row sidebar-imageCurso">
                <a ng-href="">
                    <img ng-src="{{course.image}}" class="img-course" ng-if="course.image != null">
                        <img src="/existaya/images/defaultCourseCover.png" alt="" ng-if="course.image == null" class="img-course img-responsive">
                </a>
                <div class="sidebar-imageCurso__nombre">
                    <div class="col-md-4">
                        <img ng-if="coursePublic.tutors[0].avatar != null" ng-src="{{coursePublic.tutors[0].avatar}}" alt="" class="img-circle sidebar-imageCurso__image"> 
                        <img ng-if="coursePublic.tutors[0].avatar == null" src="/existaya/images/avatarDefault.png" alt="" class="img-circle sidebar-imageCurso__image">
                    </div>
                    <div class="col-md-8">
                        <div ng-if="coursePublic.tutors[0].name != '' && coursePublic.tutors[0].lastname != ''" class="text text--blanco bg-nameTutor">
                            {{coursePublic.tutors[0].name}} {{coursePublic.tutors[0].lastname}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 sidebar-imageCurso__qualy">
                    <span class="fa fa-star" ng-if="course.score > 0"></span>
                    <span class="fa fa-star" ng-if="course.score > 1"></span>
                    <span class="fa fa-star" ng-if="course.score > 2"></span>
                    <span class="fa fa-star" ng-if="course.score > 3"></span>
                    <span class="fa fa-star" ng-if="course.score == 5"></span>

                    <span class="fa fa-star-o" ng-if="course.score < 5"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 4"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 3"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 2"></span>
                    <span class="fa fa-star-o" ng-if="course.score < 1 || course.score == 0"></span>


                </div>
            </div>
            <h3 class="text text--gris titleCourse text--md text--bold margin--t2">
                {{course.name | limitTo:34}}
            </h3>
            <p class="text text--sm text--gris_cla margin--t1 textDescription"> 
            {{ course.description | limitTo:127}}...

            </p>
            <p class="text text--azul_cla timeSpace text--lite margin--t1">
            <span class="fa fa-clock-o"></span><span ng-if="course.duration != null"> {{course.duration}} Horas</span>
            <span ng-if="course.duration == null"> No hay un tiempo de duración asignado al curso.</span>
            </p>
            <a  ng-href="/course/{{course.slug}}/details" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05" ng-click="scrolltop()"> MÁS INFORMACIÓN </a>
        </div>
    </div>
</div>


