<% include head.html %>
<navbar></navbar>
<section class="col-xs-12 sidebar-blueGrandient sidebar-add__montain">

    <div class="sidebar-parallax visible-lg">
        <img src="existaya/images/nubes-left.png" alt="" id="nubes_left1" class="sidebar-parallax__nubes1" />
        <img src="existaya/images/nubes-right.png" alt="" id="nubes_left2" class="sidebar-parallax__nubes2" />
    </div>

    <div class="container">
        <h1 class="text text--azul_osc text--xxxlg text--xbold margin--b0 text-center text-space1">
            Capacítate en el Marketing del Futuro
        </h1>
        <p class="text text--xxlg text--azul_osc text-center text-space1 margin--t0">
        adquiere nuevas habilidades y<br>accede a excelentes oportunidades 
        </p>
        <p class="text-center margin--t2">
        <a href="all_courses" class="btn btn--academy2 btn-rojo btn--right btn-xlg">EMPIEZA AHORA</a>
        </p>

        <div class="clearfix"></div>

        <div class="col-lg-10 col-lg-offset-1 col-xs-12 sidebar-bloqs1 margin--t2 display-table">
            <div class="row display-row">
                <div class="col-xs-4 sidebar-naranja sidebar-bloqs display-cell">
                    <h1 class="text text--nunito text--xxxxlg text--upper text--blanco text-center text--xbold text--space1">
                        Entrénate
                    </h1>
                    <div class="row">
                        <a href="all_courses"><img src="existaya/images/services1.png" alt="" class="img-responsive center-block"></a>
                    </div>
                    <h2 class="text text--blanco text--md text--bold">
                        Cursos y Capacitación
                    </h2>
                    <p class="text text--blanco text--mm text--lite">
                    Nuestros cursos están diseñados para 
                    ayudarte a desarrollar habilidades 
                    especificas en muy corto tiempo.
                    </p>
                    <a href="all_courses" class="btn btn-gosh btn-lg margin--t1">
                        Buscar Cursos
                    </a>
                </div>
                <div class="col-xs-4 sidebar-verde sidebar-bloqs display-cell">
                    <h1 class="text text--nunito text--xxxxlg text--upper text--blanco text-center text--xbold text--space1">
                        Certifícate
                    </h1>
                    <div class="row">
                        <a href="all_certifications"><img src="existaya/images/services2.png" alt="" class="img-responsive center-block"></a>
                    </div>
                    <h2 class="text text--blanco text--md text--bold">
                        Certifica tus Habilidades
                    </h2>
                    <p class="text text--blanco text--mm text--lite">
                    Certifica tus conocimientos en las áreas 
                    del marketing digital con mayor 
                    demanda laboral en Latino América
                    </p>
                    <a href="all_certifications" class="btn btn-gosh btn-lg margin--t1">
                        Ver Certificados Disponibles
                    </a>
                </div>
                <div class="col-xs-4 sidebar-azul sidebar-bloqs display-cell">
                    <h1 class="text text--nunito text--xxxxlg text--upper text--blanco text-center text--xbold text--space1">
                        Empléate
                    </h1>
                    <div class="row">
                        <a href="jobs"><img src="existaya/images/services3.png" alt="" class="img-responsive center-block"></a>
                    </div>
                    <h2 class="text text--blanco text--md text--bold">
                        Bolsa de Empleo
                    </h2>
                    <p class="text text--blanco text--mm text--lite">
                    Registra tu Currículo y acceder a ofertas 
                    de empleo de más de 100 Agencias de 
                    Publicidad y Comunicación Digital
                    </p>
                    <a href="jobs" class="btn btn-gosh btn-lg margin--t1">
                        Ver Ofertas de Empleo
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-section2 sidebar-blanco">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <h1 class="text text--azul_mid text--lg text--xbold text-center">
                ¡ES HORA DE ACTUAR! INICIA UN CURSO Y DESARROLLA NUEVAS HABILIDAES
            </h1>
            <p class="text text--md text--gris text-center text--lite">
            Nuestros cursos están diseñados para desarrollar competencias en las áreas del Marketing con mayor demanda laboral
            </p>
        </div>
        <div class="col-xs-12 margin--t2">
            <courses-list filter="public" limit="4"></courses-list>
            <div class="row hidden">
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <a href="introduccion-al-marketing-digital.html"><img src="existaya/images/Marketing-Digital-101.png" alt="" class="img-responsive center-block"></a>
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="existaya/images/profesor-nathalia-plaza.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Nathalia Plaza
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Intro al Marketing Digital
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                        Aprende e Interioriza los 10 principales conceptos básicos del Marketing y la Comunicación Digital.
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                        <span class="icon-time"></span> 10 Horas
                        </p>
                        <a href="introduccion-al-marketing-digital.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <a href="detalle-curso.html"><img src="existaya/images/Estrategia-Marketing-Digital.png" alt="" class="img-responsive center-block"></a>
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="existaya/images/profesor-alex-londono.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Alexander Londoño
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Estrategia Digital
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                        Aprende a planear una estrategia de Marketing Digital partiendo de los objetivos estratégicos de tu negocio.
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                        <span class="icon-time"></span> 20 Horas
                        </p>
                        <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <a href="marketing-en-facebook-para-empresas.html"><img src="existaya/images/Facebook-Marketing.png" alt="" class="img-responsive center-block"></a>
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="existaya/images/profesor-juan-diaz.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Guillermo Enciso
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star-o"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Facebook Marketing 
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                        Aprende a usar Facebook como herramienta para incrementar las ventas y retener tus clientes.
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                        <span class="icon-time"></span> 40 Horas
                        </p>
                        <a href="marketing-en-facebook-para-empresas.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <a href="marketing-en-motores-de-búsqueda-con-google-adwords.html"><img src="existaya/images/Google-Adwords.png" alt="" class="img-responsive center-block"></a>
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="existaya/images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Andrés Escobar
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star-o"></span>
                                <span class="icon-star-o"></span>
                                <span class="icon-star-o"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Google Adwords
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                        Aprende a crear campañas de manera profesional en 8 pasos en la plataforma de Google Adwords
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                        <span class="icon-time"></span> 40 Horas
                        </p>
                        <a href="marketing-en-motores-de-búsqueda-con-google-adwords.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-12 margin--t3 margin--b3 text-center">
                <a href="/all_courses" class="btn btn--academy2 btn-rojo btn--right btn-xlg">
                    <span class="text--upper">ver todos los cursos</span>
                </a>
            </div>

        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-verde1 sidebar-section">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <h1 class="text text--azul_mid text--lg text--xbold text-center text--upper">
                Conviértete en un Profesional del Marketing Digital 
            </h1>
            <p class="text text--md text--gris text-center text--lite">
            y accede a nuevas oportunidades laborales que se abren todos los días en una de las Industrias con mayor crecimiento
            </p>
        </div>
        <div class="col-xs-12 margin--t2 margin--b2">
            <div class="row">
                <div class="col-xs-4 sidebar-blanco sidebar-section">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-3 vertical-middle">
                                <img src="existaya/images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image img-responsive">
                            </div>
                            <div class="col-xs-9 vertical-middle">
                                <p class="text text--azul margin--t1">
                                Carlos Aguirre<br>
                                <span class="text--gris">Asistente Mercadeo</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin--t1">
                        <p class="text text--lite text--sm">
                        Me gusta muchisimo, una muy buena
                        plataforma que ayuda en la enseñansa
                        del dia a dia, esperamos segir aprendiendo
                        mas.
                        </p>
                    </div>
                </div>
                <div class="col-xs-4 sidebar-blanco sidebar-section">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-3 vertical-middle">
                                <img src="existaya/images/profesor-vanessa-galvis.jpg" alt="" class="img-circle sidebar-imageCurso__image img-responsive">
                            </div>
                            <div class="col-xs-9 vertical-middle">
                                <p class="text text--azul margin--t1">
                                Claudia Zapata<br>
                                <span class="text--gris">Emprendedora</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin--t1">
                        <p class="text text--lite text--sm">
                        Me gusta muchisimo, una muy buena
                        plataforma que ayuda en la enseñansa
                        del dia a dia, esperamos segir aprendiendo
                        mas.
                        </p>
                    </div>
                </div>
                <div class="col-xs-4 sidebar-blanco sidebar-section">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-3 vertical-middle">
                                <img src="existaya/images/profesor-manuel-bolanos.jpg" alt="" class="img-circle sidebar-imageCurso__image img-responsive">
                            </div>
                            <div class="col-xs-9 vertical-middle">
                                <p class="text text--azul margin--t1">
                                Juan Montoya<br>
                                <span class="text--gris">Diseñador Gráfico</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin--t1">
                        <p class="text text--lite text--sm">
                        Me gusta muchisimo, una muy buena
                        plataforma que ayuda en la enseñansa
                        del dia a dia, esperamos segir aprendiendo
                        mas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-blueGrandient sidebar-blueGrandient--cero1 sidebar-add__montainR">
    <div class="sidebar-parallax visible-lg">
        <img src="existaya/images/nubes-left.png" alt="" id="nubes_left1" class="sidebar-parallax__nubes1" />
        <img src="existaya/images/nubes-right.png" alt="" id="nubes_left2" class="sidebar-parallax__nubes2" />
    </div>
    <div class="container">
        <div class="col-xs-5">
            <img src="existaya/images/image1.png" alt="" class="img-responsive pull-left margin--t5">
        </div>
        <div class="col-xs-6">
            <h1 class="text text--xxlg text-left text--azul_mid text--upper">
                <span class="text--xbold">Clases 100% en español,</span><br>APRENDIZAJE PRÁCTICO REAL
            </h1>
            <p class="text text--md text--gris">
            Clases paso a paso, no necesitas experiencia.<br>Aprenderás cada detalle necesario para lograr tu objetivo
            </p>

            <div class="row">
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="existaya/images/bullet1.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                    Aprende a tu ritmo y necesidad
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="existaya/images/bullet2.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                    Certifica tus conocimientos
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="existaya/images/bullet3.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                    Profesores con 
                    más de 10 años de 
                    experiencia
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-section3 sidebar-blanco">
    <div class="container">
        <h1 class="text text--xxxlg text--azul_mid text-center text--xbold">
            CONTAMOS CON MÁS DE 100 AGENCIAS<br>
            DE PUBLICIDAD Y MEDIOS DIGITALES
        </h1>
        <p class="text text--gris text--md text-center">
        Diariamente Empresas y Agencias de Publicidad y Comunicación Digital publican<br>sus ofertas laborares en nuestra bolsa de empleo. Registra tu Curriculo!
        </p>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 margin--t2">
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-xs-15 margin--t05 margin--b05">
                    <img src="existaya/images/logo-icesi.png" alt="" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-xs-12 margin--t3 margin--b3 text-center">
                <a href="jobs/curriculum" class="btn btn--academy2 btn-verde btn--right btn-xlg">
                    <span class="text--upper">REGISTRA TU HOJA DE VIDA AHORA MISMO</span>
                </a>
            </div>
        </div>
    </div>
</section>
        <div class="col-xs-12 sidebar-footer__top">
            <div class="container">
                <p class="text text--lite text--md text-center">
                Mantente al día de nuestros nuevos cursos, suscribete a nuestro newsletter
                </p>

                <div class="clearfix"></div>

                <div class="col-lg-10 col-lg-offset-1 col-xs-12 margin--t1">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" id="exampleInputEmail1" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Correo Electrónico">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" class="btn btn-azul btn-block btn-lg">
                                <span class="text--upper">SUSCRIBIRME</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>  
        </div>

<% include footer.html %>
<!--  MODAL DE INGRESO  -->

<div class="modal modal--ingreso fade" id="js-ingreso" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <img src="existaya/images/logo2.png" alt="" class="img-responsive center-block">
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs nav-justified nav-ingreso" role="tablist">
                        <li role="presentation" class="active">
                        <a href="#registro" aria-controls="registro" role="tab" data-toggle="tab">Regístrate</a>
                        </li>
                        <li role="presentation">
                        <a href="#ingreso" aria-controls="ingreso" role="tab" data-toggle="tab">Iniciar Sesión</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="registro">
                            <a href="#" class="btn btn-facebook btn-block">
                                <span class="icon-facebook margin--r2"></span> 
                                Regístrate con facebook
                            </a>
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                            <span class="icon-facebook margin--r2"></span> 
                            Regístrate con facebook
                            </fb:login-button>
                            <p class="text text-center text--gris">
                            O
                            </p>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control--form" placeholder="Nombre Completo">
                                    <input type="text" class="form-control form-control--form" placeholder="Correo Electrónico">
                                    <select id="" class="form-control form-control--form">
                                        <option value="">Género</option>
                                    </select>
                                    <select id="" class="form-control form-control--form">
                                        <option value="">País</option>
                                    </select>
                                    <input type="password" class="form-control form-control--form" placeholder="Contraseña">
                                </div>
                                <div class="col-xs-12 bg-gris margin--b1">
                                    <p class="text text--xs text--gris">
                                    Al hacer clic en “crear una cuenta”, aceptas las Condiciones y confirmas que leíste nuestra Política de datos, incluido el uso de cookies.
                                    </p>
                                </div>
                                <div class="col-xs-12 margin--b1">
                                    <div class="row">
                                        <a href="perfil.html" class="btn btn-verde btn--lite btn-block text--upper">Crear una cuenta</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ingreso">
                            <a href="#" class="btn btn-facebook btn-block">
                                <span class="icon-facebook margin--r2"></span> 
                                Ingresa con facebook
                            </a>
                            <p class="text text-center text--gris">
                            O
                            </p>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control--form" placeholder="Correo Electrónico">
                                    <input type="password" class="form-control form-control--form" placeholder="Contraseña">
                                </div>
                                <a href="perfil.html" class="btn btn-verde btn--lite btn-block text--upper">iniciar sesión</a>
                                <a href="#" class="text text--azul text--sm text-center center-block margin--t1">
                                    Olvíde mi contraseña
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="libs/parallaxMove/parallax_move_home.js"></script> -->

<script>


function statusChangeCallback(response) {
    if (response.status === 'connected') {
        FB.login(function(response) {
                }, {scope: 'public_profile,email'});
        kmeAPI();
    }
}

function checkLoginState() {
    FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
            });
}

window.fbAsyncInit = function() {
    FB.init({
appId      : '485045968335965',
cookie     : true,   

xfbml      : true,  
version    : 'v2.2' 
});

};

(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));


function kmeAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=name,email', function(response) {
            client='http://kmelx.com/';
            var uri=client+'api/login_kmeadmin/?username='+response.email+'&name='+ response.name +'&password='+response.email;
            $.ajax({
url: encodeURI(uri),
dataType: 'jsonp', 
success: function(result){
console.log(result.status);

}, error: function(result){
console.log(result);
}

});



            });
}
</script>

</body>
</html>
