<% include head.html %>
<navbar></navbar>
<section class="col-xs-12 sidebar-greenGrandient sidebar-greenGrandient--xlg sidebar-add__montain">
    <div class="container text-center">
        <h1 class="text text--azul_mid text--xxxxlg text--xbold margin--b0 text-center text-space1 text--upper">
            Bolsa de Empleo
        </h1>
        <p class="text text--lg text--gris text-center text-space1 margin--t05">
        Encuentra oportunidades para Colaborar en la Industria del Marketing Digital
        </p>
    </div>
</section>
<section class="col-xs-10 col-xs-offset-1 sidebar-section sidebar-section--content sidebar-blanco margin--tn5">
    <div class="container">
        <div class="col-xs-12 text-center">
            <div class="col-xs-12 margin--t1 margin--b1">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="text" class="form-control input-gris" id="exampleInputEmail1" placeholder="¿Qué Buscas?">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="email" class="form-control input-gris" id="exampleInputEmail1" placeholder="Ciudad / Ubicación">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="email" class="form-control input-gris" id="exampleInputEmail1" placeholder="Categoría">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <a href="#" class="btn btn-azul btn-block">
                            <span class="text--upper">BUSCAR</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-8">
                <table class="table table-hover table--bolsa">
                    <tbody><tr>
                        <td width="15%">
                            <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">Desarrollador FrontEnd / BackEnd Ecommerce</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Bogotá <span class="text--verde icon-time"></span> +2 Años de Experiencia
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--naranja">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Tiempo Completo</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $2.5MM COP
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        Mensuales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">Diseñador Gráfico UX/WEB</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Bogotá <span class="text--verde icon-time"></span> +1 Año de Experiencia
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--marina">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Tiempo Completo</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1.8MM COP
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        Mensuales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">Community Manager</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Bogotá <span class="text--verde icon-time"></span> +2 Años de Experiencia
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--rojo">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Medio Tiempo</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1.3MM COP
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        Mensuales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">Digital Key Account Manager</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Cali <span class="text--verde icon-time"></span> 2 Años de Experiencia
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--verde">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Tiempo Completo</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $2.5MM COP
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        Mensuales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">Administrador de Contenidos + WebMaster</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Medellín <span class="text--verde icon-time"></span> 1 Año de Experiencia
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--naranja">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Medio Tiempo</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1.5MM COP
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        Mensuales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <a href="bolsa-de-empleo/oferta-empleo-planner-medios-digitales.html">
                                <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">Planner Medios Digitales</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Cali <span class="text--verde icon-time"></span> 2 Años de Experiencia
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--marina">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Tiempo Completo</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $2.5MM COP
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        Mensuales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--rojo">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="data:image/webp;base64,UklGRswAAABXRUJQVlA4IMAAAAAQCgCdASpSAFIAPm00k0ckIyGhK5YpCIANiWkADpMBZgZdIfYljTelEGsW+29ihfytTC4fP8Mblg5rEuwruRgd719yXjtRqM98KCvLuaV00l736OgBkmXKAAD++E0AyV3uFnPZyd4tx+4uoSv7pTY0MO4DhKPp4mykHmxABRsnOt/y4PDZMRSNMT2DeeYb25Ls7QDVsW+cVLvpymkyX0JHAw6rAE1xdfznjn7u05xJMRIF3c4X3A0g3IZpGengAAA=" alt="" class="img-responsive pull-left img-rounde" pagespeed_url_hash="570514978" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                            <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--verde">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                        / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody></table>
                <div class="clearfix"></div>
                <nav class="margin--t1">
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-4 text-left">
                <div class="col-xs-12 vertical-middle">
                    <h3 class="text text--md text--xbold margin--b05">
                        OPORTUNIDAD DESTACADA
                    </h3>
                    <img src="images/image-example-job.jpg" alt="" class="img-responsive.center-block" pagespeed_url_hash="1810287933" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <div class="clearfix"></div>
                    <p class="text text--azul text--xbold text--md margin--t05 margin--b0">
                    Planner Medios Digitales (Junior)
                    </p>
                    <p class="text text--gris text--sm margin--t0">
                    Mínimo 1 año de experiencia
                    </p>
                    <p class="text text--gris text--lite text--xs">
                    Encargado de asistir la planeación y ejecución las campañas de marketing digital. Hacer la planeación de medios y llevar a cabo la estrategia en las diferentes plataformas de publicidad de acuerdos a los objetivos. Hace seguimiento y optimización realizando análisis continuo de los resultados siempre orientado al cumplimiento de los KPIs de cada una de las cuentas. Elaborar reportes de seguimiento y resultado de cada una de las campañas.
                    </p>
                    <a href="bolsa-de-empleo/oferta-empleo-planner-medios-digitales.html" class="btn btn-rojo margin--t1">
                        Ver Oferta
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<% include footer.html %>
