<% include head.html %>
<navbar></navbar>
<div ng-controller="jobsController">

    <section class="col-xs-12 sidebar-greenGrandient sidebar-greenGrandient--xlg sidebar-add__montain">
        <div class="container text-center">
            <h1 class="text text--azul_mid text--xxxxlg text--xbold margin--b0 text-center text-space1 text--upper">
                Bolsa de empleo
            </h1>
            <p class="text text--lg text--gris text-center text-space1 margin--t05">
                Encuentra un empleo ideal para ti en la industria del Marketong
            </p>
        </div>
    </section>    
    <section class="col-xs-10 col-xs-offset-1 sidebar-section sidebar-section--content sidebar-blanco margin--tn5">
        <div class="container">
            <div class="col-xs-12 text-center">
                <form ng-submit="buscarEmpleos()"> 
                    <div class="col-xs-12 margin--t1 margin--b1">
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control input-gris" placeholder="Keywords" ng-model="name">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <input type="text" name="ubicacion_c" id="ubicacion_c" class="form-control input-gris" placeholder="All Locations" ng-model="ubicacion_c">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-gris" placeholder="All Industries">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-azul btn-block" type="submit">
                                    <span class="text--upper">BUSCAR</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="col-xs-8">
                    <table class="table table-hover table--bolsa">
                        <tr ng-repeat="bjlist in jobList">
                            <td width="15%">
                                <img ng-src="{{bjlist.logo_c}}" alt="" class="img-responsive pull-left img-rounde">
                            </td>
                            <td width="50%" class="text-left">
                                <a ng-href="detailsJobs?id={{bjlist.id}}">
                                    <h3 class="text text--xbold text--gris margin--t0 margin--b0">{{bjlist.name}}</h3>
                                </a>
                                <p class="text text--sm text--gris">
                                    <span class="text--azul icon-location"></span> {{bjlist.ubicacion_c}} <span class="text--verde icon-time"></span>+{{bjlist.experiencia_cargo}} Años de Experiencia
                                </p>
                            </td>
                            <td width="35%">
                                <div class="row">
                                    <div class="panel panel-default panel-horizontal panel-horizontal--{{bjlist.color}}">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text--xbold">{{bjlist.jornada_name}}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                                {{bjlist.salario| currency:"COP$":0}}
                                            </h2>
                                            <p class="text text--xs text--blanco margin--b0">
                                                {{bjlist.salario_periodicidad_c}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="clearfix"></div>
                    <div ng-if="jobList.length > 4">
                        <nav class="margin--t1">
                            <ul class="pagination">
                                <li>
                                    <a href="" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li>
                                    <a href="" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-4 text-left">
                    <div class="col-xs-12 vertical-middle" ng-repeat="featuredJob in featuredJobs">
                        <h3 class="text text--md text--xbold margin--b05">
                            FEATURED JOBS
                        </h3>
                        <img ng-src="{{featuredJob.logo_c}}" alt="" class="img-responsive.center-block">

                        <div class="clearfix"></div>

                        <p class="text text--azul text--xbold text--md margin--t05 margin--b0">
                            {{featuredJob.name}}
                        </p>
                        <p class="text text--gris text--sm margin--t0">
                            {{featuredJob.jornada_name}}
                        </p>

                        <p class="text text--gris text--lite text--xs">
                            {{featuredJob.description}}
                        </p>

                        <a ng-href="detailsJobs?id={{featuredJob.id}}" class="btn btn-rojo margin--t1">
                            Ver Oferta
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<% include footer.html %>

