<div ng-controller="navbarController">
    <% if (user.logged){ %>
    <nav class="col-xs-12 nav-topper nav-topper--perfil" style="z-index:9999;">
        <div class="container">
            <div class="col-xs-1">
                <a href="/" style="padding-left:0">
                    <img src="/existaya/images/logo-ico.png" alt="Marketing University" class="img-responsive pull-left logo">
                </a>
            </div>
            <div class="col-xs-7">
                <ul class="nav nav-pills nav-interno hidden">
                    <li id="courseView" class="active">
                    <a href="/profile/#my_courses"  aria-controls="cursosIniciados" role="tab" data-toggle="tab">Mis cursos</a>
                    </li>
                    <li id="certificationsView">
                    <a href="/profile/#my_certifications"  aria-controls="cursosIniciados" role="tab" data-toggle="tab">Certificaciones</a>
                    </li>
                    <li id="toolsView">
                    <a href="/profile/#recursos" aria-controls="recursos" role="tab" data-toggle="tab">Recursos Favoritos</a>
                    </li>
                    <li>
                    <a href="/profile/#empleos" aria-controls="empleos" role="tab" data-toggle="tab">Empleos</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-5">
                        <p class="text text--blanco text--xbold text-right margin--t1">
                        <%= user.info.first_name %> <%= user.info.last_name %>
                        </p>
                    </div>
                    <div class="col-xs-2 padding--r0 padding--l0 nav-topper__avatarUser" style="">
                        <div class="row">
                            <a  id="menu1" data-toggle="dropdown">
                                <img src="<%if(user.info.avatar != null){ %><%=user.info.avatar%><%}else{%>/existaya/images/avatarDefault.png<%}%>" alt="" class="img-responsive pull-right img-circle avatar_navbar">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1" style="">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/profile" class="col-xs-12">
                                        <img src="/existaya/images/persona.svg" alt=""class="">
                                        <span class="">Mi Perfil</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" class="">

                                        <img src="/existaya/images/tuercas.svg" alt=""class="">
                                            <span>Configuraciones</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" id="logout" onclick="logout()">
                                        <img src="/existaya/images/cerrar.svg" alt="">
                                        <span>Cerrar sesion</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hidden col-xs-2 padding--r0 padding--l0 nav-topper__avatarUser">
                        <div class="row">
                            <a href="/profile">
                                <img src="<%= user.info.avatar %>" alt="" class="img-responsive pull-right img-circle" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <% }else{ %>
    <nav class="col-xs-12 nav-topper">
        <div class="container" ng-init="algo()">
            <div class="row-same-height row-xs-full-height">
                <div class="col-xs-2 col-xs-height col-xs-full-height col-middle">
                    <a ng-href="/"> 
                        <img src="/existaya/images/logo1.png" id="logoOri" alt="Marketing University" class="img-responsive pull-left logowidth" >
                    </a>
                    <div ng-show="{{authenticated_navbar}}" class="top-main-menu">
                        <ul class="nav nav-complete navbar-nav navbar-right">
                            <li class="active"><a ng-href="/all_courses" ng-click="activeMenu($event)">CURSOS</a></li>
                            <li><a ng-href="/all_certifications" ng-click="activeMenu($event)">CERTIFICACIONES</a></li>
                            <li><a ng-href="/jobs" ng-click="activeMenu($event)">BOLSA DE EMPLEO</a></li>
                        </ul>
                    </div>
                    <ul controller="profile_api" ng-show="authenticated_navbar" class="nav nav-pills nav-interno pull-left" role="tablist">
                        <li class="{{menuActive_0}}">
                        <a href="" ng-click="changeItem(0)">Mis cursos</a>
                        </li>
                        <li class="{{menuActive_1}}">
                        <a href="" ng-click="changeItem(1)">Certificaciones</a>
                        </li>
                        <li class="{{menuActive_2}}">
                        <a href="" ng-click="changeItem(2)">Recursos Favoritos</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-10 sidebar-contentMenu col-xs-height col-xs-full-height col-middle" >
                    <div class="col-xs-12 sidebar-contentMenu" ng-if="!seeMenu">
                        <div class="">
                            <p class="text text--gris pull-right">

                            <a class="btn btn--academy btn-verde btn--right btn-lg btn--ingresar" data-toggle="modal" data-target="#js-ingreso" ng-if="!authenticated_navbar">INGRESAR</a>

                            <a class="btn btn--academy btn-verde btn--right btn-lg btn--ingresar" data-toggle="modal" href="/profile" ng-if="authenticated">PERFIL</a>
                            <a class="btn btn--academy btn-danger btn--right btn-lg btn--ingresar" ng-show="authenticated" ng-click="logout()">SALIR</a>

                            <a class="btn btn--academy btn-azul btn--right btn-lg btn--ingresar" ng-click="toggleMenuNavbar()">
                                <span class="fa fa-bars"></span>
                            </a>                         
                            </p>
                        </div>
                    </div>

                    <div class="sidebar-contentMenu__menu_completo" ng-if="seeMenu" ng-click="toggleMenuNavbar()">
                        <div class="col-xs-10">
                            <ul class="nav nav-complete navbar-nav navbar-right" >
                                <li class="active"><a href="/all_courses">CURSOS</a></li>
                                <li><a href="/all_certifications">CERTIFICACIONES</a></li>
                                <li><a href="/jobs">BOLSA DE EMPLEO</a></li>
                            </ul>
                        </div>
                        <a class="btn btn--academy btn-azul btn--right btn-lg btn--ingresar pull-right" >
                            <span class="fa fa-bars"></span>
                        </a>  
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <% } %>
</div>
<div ng-controller="loginController">

    <div class="modal modal--ingreso fade" id="js-ingreso" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm" id="modal_login">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/existaya/images/logo2.png" alt="" class="img-responsive center-block">
                </div>
                <div class="modal-body">
                    <div role="tabpanel">

                        <ul class="nav nav-tabs nav-justified nav-ingreso" role="tablist">
                            <li role="presentation" class="active">
                            <a href="#registro" aria-controls="registro" role="tab" data-toggle="tab">Regístrate</a>
                            </li>
                            <li role="presentation">
                            <a href="#ingreso" aria-controls="ingreso" role="tab" data-toggle="tab">Iniciar Sesión</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="registro">
                                <span class="alert alert-danger" ng-if="showError">{{ message }}</span>
                                <a href="#" class="btn btn-facebook btn-block" ng-click="FBLogin(true)">
                                    <span class="icon-facebook margin--r2"></span> 
                                    Regístrate con facebook
                                </a>   
                                <p class="text text-center text--gris">
                                O
                                </p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control--form" placeholder="Nombre Completo" ng-model="username" required>
                                        <input type="email" class="form-control form-control--form" placeholder="Correo Electrónico" ng-model="email" required>
                                        <input type="password" class="form-control form-control--form" placeholder="Contraseña" ng-model="password" required>
                                    </div>
                                    <div class="alert alert-danger text-center" ng-show="alertError"><span id="errorLogin"></span></div>
                                    <div class="col-xs-12 bg-gris margin--b1">
                                        <p class="text text--xs text--gris">
                                        Al hacer clic en “crear una cuenta”, aceptas las Condiciones y confirmas que leíste nuestra Política de datos, incluido el uso de cookies.
                                        </p>
                                    </div>
                                    <div class="col-xs-12 margin--b1">
                                        <div class="row">
                                            <input type="submit" class="btn btn-verde btn--lite btn-block text--upper" ng-click="singUp()" value="Crear una cuenta">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ingreso">
                                <a href="#" class="btn btn-facebook btn-block" ng-click="FBLogin(false)">
                                    <span class="icon-facebook margin--r2"></span> 
                                    Iniciar con facebook
                                </a> 


                                <p class="text text-center text--gris">
                                O
                                </p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control--form" placeholder="Nombre de usuario" ng-model="_username" required>
                                        <input type="password" class="form-control form-control--form" placeholder="Contraseña" ng-model="_password" required>
                                    </div>
                                    <div class="alert alert-danger text-center" ng-show="alertFields"><span>Todos los campos se deben diligenciar</span></div>
                                    <div class="alert alert-danger text-center" ng-show="alertData"><span>El nombre de usuario y/o la contraseña son incorrectos.</span></div>
                                    <input type="submit" class="btn btn-verde btn--lite btn-block text--upper" ng-click="signIn()" value="iniciar sesión">
                                    <!-- <a class="text text--azul text--sm text-center center-block margin-">Olvíde mi contraseña </a>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

