<div ng-controller="navbarController" >
    <% if (user.logged){ %>
    <nav class="col-xs-12 nav-topper nav-topper--perfil" style="z-index:9999;">
        <div class="container">
            <div class="col-xs-3">
                <a href="/" style="padding-left:0">
                    <img src="/existaya/images/logo-ico.png" alt="Marketing University" class="img-responsive pull-left logo">
                </a>
            </div>
           <div class="col-xs-6">
                <p id="category" class="text text--blanco text--m text--xbold text-space1 margin--t0 margin--b0 text--upper text-center"></p>
                <h1 id="namecourse" class="text text--blanco text--lg margin--t0 margin--b0 text-center"></h1>
                <ul class="nav nav-pills nav-interno ">
                    <li id="courseView" >
                    <a href="/profile/" >Mi dojo</a>
                    </li>
                    <li>
                    <a href="/all_courses/" >Cursos</a>
                    </li>
                    <li id="certificationsView">
                    <a href="/all_certifications/">Certificaciones</a>
                    </li>
                    <li>
                    <a href="/jobs">Empleos</a>
                    </li>
                    <li>
                    <a target="_blank" href="http://blog.marketinguniversity.co/">Blog</a>
                    </li>
                    <li>
                    <a href="#" aria-controls="blog" role="tab" data-toggle="tab">Comunidad</a>
                    </li>


                </ul>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-7 col-xs-offset-3">
                        <p class="text text--blanco text--xbold text-right margin--t1">
                        <%if(user.info.first_name && user.info.last_name){%>
                            <%= user.info.first_name %> <%= user.info.last_name %>
                        <% }else{ %>
                            {{ sessionName }}
                        <% } %>
                        </p>
                    </div>
                    <div class="col-xs-2 padding--r0 padding--l0 nav-topper__avatarUser" style="">
                        <div class="row">
                            <a  id="menu1" data-toggle="dropdown">
                                <img src="<%if(user.info.avatar != null){ %> <%- user.info.avatar.split('?')[0] %> <%}else{%>/existaya/images/avatarDefault.png<%}%>" alt="" class="img-responsive pull-right img-circle avatar_navbar" ng-if="sessionAvatar == undefined">

                                <img src="{{ sessionAvatar }}" alt="" class="img-responsive pull-right img-circle avatar_navbar" ng-if="sessionAvatar">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1" style="">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/profile" class="col-xs-12">
                                        <img src="/existaya/images/persona.svg" alt=""class="">
                                        <span class="">Mi Perfil</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" class="">

                                        <img src="/existaya/images/tuercas.svg" alt=""class="">
                                            <span>Configuraciones</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" id="logout" onclick="logout()">
                                        <img src="/existaya/images/cerrar.svg" alt="">
                                        <span>Cerrar sesion</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hidden col-xs-2 padding--r0 padding--l0 nav-topper__avatarUser">
                        <div class="row">
                            <a href="/profile">
                                <img src="<%= user.info.avatar %>" alt="" class="img-responsive pull-right img-circle" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <% }else{ %>
    <nav class="col-xs-12 nav-topper" style="
    position: fixed;
    z-index: 999;">
        <div class="container" ng-init="algo()">
            <div class="row-same-height row-xs-full-height">
                <div class="col-xs-2 col-xs-height col-xs-full-height col-middle">
                    <a ng-href="/"> 
                        <img src="/existaya/images/logo1.png" id="logoOri" alt="Marketing University" class="img-responsive pull-left logowidth" >
                    </a>
                    <div ng-show="{{authenticated_navbar}}" class="top-main-menu">
                        <ul class="nav nav-complete navbar-nav navbar-right" >
                            <li class="active"><a ng-href="/all_courses" ng-click="activeMenu($event)">CURSOS</a></li>
                            <li><a ng-href="/all_certifications" ng-click="activeMenu($event)">CERTIFICACIONES</a></li>
                            <li><a ng-href="/jobs" ng-click="activeMenu($event)">BOLSA DE EMPLEO</a></li>
                        </ul>
                    </div>
                    <ul controller="profile_api" ng-show="authenticated_navbar" class="nav nav-pills nav-interno pull-left" role="tablist">
                        <li class="{{menuActive_0}}">
                        <a href="" ng-click="changeItem(0)">Mis cursos</a>
                        </li>
                        <li class="{{menuActive_1}}">
                        <a href="" ng-click="changeItem(1)">Certificaciones</a>
                        </li>
                        <li class="{{menuActive_2}}">
                        <a href="" ng-click="changeItem(2)">Recursos Favoritos</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-10 sidebar-contentMenu col-xs-height col-xs-full-height col-middle" >
                    <div class="col-xs-12 sidebar-contentMenu" ng-if="!seeMenu">
                        <div class="navbar-right">
                           
                            <ul class="nav nav-complete navbar-nav " style="padding-top: 8px;" ng-if="!authenticated_navbar">
                                <li class="active"><a href="/all_courses">CURSOS</a></li>
                                <li><a href="/all_certifications">CERTIFICACIONES</a></li>
                                <li><a href="#" class="hidden">EVENTOS</a></li>
                                <li><a href="/jobs">EMPLEO</a></li>
                                <li> <a target="_blank" href="http://blog.marketinguniversity.co/">BLOG</a></li>
                                <li><a href="#">COMUNIDAD</a></li>
                                <li><a href="#">PRECIOS</a></li>
                            </ul>
                            <a class="btn btn--academy btn-verde btn--right btn-lg btn--ingresar" data-toggle="modal" data-target="#js-ingreso" ng-if="!authenticated_navbar">INGRESAR</a>

                            <a class="btn btn--academy btn-verde btn--right btn-lg btn--ingresar" data-toggle="modal" href="/profile" ng-if="authenticated">PERFIL</a>
                            <a class="btn btn--academy btn-danger btn--right btn-lg btn--ingresar" ng-show="authenticated" ng-click="logout()">SALIR</a>

                                                   
                            </p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </nav>
    <% } %>
</div>
<div ng-controller="loginController">

    <div class="modal modal--ingreso fade" id="js-ingreso" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="modal_login">
            <div class="modal-content">
                <div class="modal-header">
                    
                </div>
                <div class="modal-body">
                <div class="col-md-12 margin--t1 margin--b1">
                <a href="#" role="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/existaya/images/close-popup.png"></a>
                <img src="/existaya/images/logo1.png" alt="" class="img-responsive center-block img-responsive center-block margin--t1">
                </div>
            <div ng-show="logindiv">
            <img src="/existaya/images/preloader.gif" alt="loader" ng-show="Waiting" class="img-responsive img-center" width="100%" style="margin-left: 1%;     position: absolute;  margin-top: -22%;z-index:9999;">
                <div class="col-md-10 col-md-offset-1">
                    <p class="text text--md text--gris text-center text--lite">
                    <br>Accede a tu cuenta con tu red social favorita o digita tu usuario(correo electrónico) y contraseña para ingresar.
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 margin--t2 text-center login-buttons-side">
                <div class="col-md-12 margin--b05" ng-click="FBLogin(false)" ><a href="#" title="Igresar con Facebook"><img src="/existaya/images/login-fb-btn.png" class="img-responsive center-block"  ></a></div>
                </div>
                <div class="col-md-6 margin--t2 register-side">
                    <form  class="login-form">
                        <div class="form-group">
                            <label class="text--gris text-uppercase">Correo Electrónico</label>
                            <input type="text" class="form-control " placeholder="Correo Electrónico" ng-model="_username" required>
                        </div>
                        <div class="form-group">
                            <label class="text--gris text-uppercase">Contraseña</label>
                            <input type="password" class="form-control " placeholder="Contraseña" ng-model="_password" required>
                        </div>
                        <div class="form-group">
                            <a href="/account/recover">¿Olvidó su contraseña?</a>
                        </div>
                        <div class="alert alert-danger text-center" ng-show="alertFields"><span>Todos los campos se deben diligenciar</span></div>
                            <div class="alert alert-danger text-center" ng-show="alertData"><span>El nombre de usuario y/o la contraseña son incorrectos.</span></div>

                            <div class="alert alert-danger text-center" ng-show="alertError"><span>{{error}}</span></div>
                        
                       
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-verde btn--lite text--upper" ng-click="signIn()">Iniciar Sesión</button>
                        </div>
                    </form>
                    
                    </div>
                <div class="clearfix"></div>
                <div class="ingreso-footer-modal text-center">
                    <h1 class="text-uppercase text text--azul_osc text--lg text--xbold margin--b0">¿Aún no te haz registrado?</h1>
                    <p class="text--gris margin--b0 text--md"><a ng-click="signdiv()" href="#" data-toggle="modal" data-target="#js-nuevo-registro" class="text--verde text--bold">Haz click aquí</a> y haz parte de esta comunidad de aprendizaje </p>
                    
                </div>

            </div>
            <div ng-show="singupdiv">
                <div class="col-md-10 col-md-offset-1">
                    <p class="text text--md text--gris text-center text--lite">
                    <br>Crea una cuenta con tu red social favoria o ingresa tu nombre, correo electrónico y una contraseña para continuar.
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 margin--t2 text-center login-buttons-side">
                <div class="col-md-12 margin--b05" ng-click="FBLogin(true)" ><a href="#" title="Igresar con Facebook"><img src="/existaya/images/login-fb-btn.png" class="img-responsive center-block"  ></a></div>
                </div>
                <div class="col-md-6 margin--t2 register-side">
                    <form  class="login-form">             
                        <div class="form-group">
                            <label class="text--gris text-uppercase">Nombre Completo</label>
                            <input type="text" class="form-control " placeholder="Nombre Completo" ng-model="username" required="true">
                        </div>
                        <div class="form-group">
                            <label class="text--gris text-uppercase">Correo Electrónico</label>
                            <input type="email" class="form-control " placeholder="Correo Electrónico" ng-model="email" required>
                        </div>
                        <div class="form-group">
                            <label class="text--gris text-uppercase">Contraseña</label>
                            <input type="password" class="form-control " placeholder="Contraseña" ng-model="password" required>
                        </div>
                        <div class="form-group">
                            <label class="text--gris text-uppercase">Confirmar Contraseña</label>
                            <input type="password" class="form-control" id="" required="true"  ng-model="password2" placeholder="Confirmar contraseña">
                        </div>
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" ng-model="tos" required="true"> <a href="#">Acepto política de privacidad y tratamiento de datos.</a>
                            </label>
                        </div>
                        
                        <div class="alert alert-danger text-center" ng-show="alertFields"><span>Todos los campos se deben diligenciar</span></div>
                        <div class="alert alert-danger text-center" ng-show="alertData"><span>La contraseña no coincide.</span></div>

                            <div class="alert alert-danger text-center" ng-show="alertError"><span>{{error}}</span></div>
                            <div class="text-center" style="margin-left: 40%;" ng-show="Waiting">
                            <img src="/existaya/images/preloader.gif" alt="loader" class="img-responsive" width="30%">
                            </div>
                        <div class="form-group text-center">
                        <button  class="btn btn-verde btn--lite text--upper" ng-click="singUp()">Crear Cuenta</button>
                        </div>
                    </form>
                    </div>
                <div class="clearfix"></div>
                <div class="ingreso-footer-modal text-center">
                <p class="text--gris margin--b0">Al hacer clic en "crear una cuenta", aceptas las condiciones y confirmas que leíste nuestra política de datos, incluídos el uso de cookies.</p>
                </div>
               
                </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
<div id="background_gray" class="loaderGIF" style="opacity:0.6;display:none;">
    <img style="width:10%; margin:10% 45%;" src="/existaya/images/loading3.gif" alt="">
</div>

