<% include ../head.html %>
<navbar></navbar>
<section class="col-xs-12 sidebar-yellowGrandient sidebar-yellowGrandient--xlg sidebar-add__montain">
    <div class="container text-center">
        <h1 class="text text--azul_osc text--xxxxlg text--xbold margin--b0 text-center text-space1 text--upper">
            cursos y capacitación
        </h1>
        <p class="text text--lg text--gris text-center text-space1 margin--t05">
        Adquiere habilidades y competencias técnicas en cuestión de semanas
        </p>
        <a href="#/" class="btn btn--academy2 btn-cursos btn--right btn-xlg margin--t1">
            ¿Cómo funcionan?
        </a>
    </div>
</section>
<section class="col-xs-12 sidebar-section2 sidebar-section2--cursos sidebar-blanco">
    <div class="container">
        <div class="col-xs-12 margin--tn5">
            <div class="row">
                <script>
                    data = [];
                    console.log("<%- courses.length %>");
                    <% for(var i=0; i < courses.length; i++){%>
                        <% course = courses[i]%>
                        data.push({
                            name : "<%= course.name.trim() %>",
                            description : "<%= course.description %>",
                            duration : "<% course.duration %>" == '' ? null : "<%= course.duration %>" ,
                            image : "<%= course.image %>",
                            score : <%= course.score %>,
                            slug : "<%= course.slug %>",
                            tutors : []
                        })
                        <% for( t in course.tutors){%>
                            <% tutor = course.tutors[t];%>
                            data[<%- i %>].tutors.push({
                                "first_name" : `<%- tutor.first_name %>`,
                                "last_name" : `<%- tutor.last_name %>`,
                                "avatar" :  "<%- tutor.avatar %>".split("?")[0]
                            })
                        <%}%>

                    <%}%>

                </script>
                 <courses-list filter="input" limit="100"></courses-list>
                
            </div>

            </div>
        </div>
    </div>
</section>

<section class="col-xs-12 text-center sidebar-table">
    <div class="row">
        <div class="col-xs-12 sidebar-table__cont">
            <h2 class="text text--azul_mid text--xlg text--xbold text-center text--upper">
                ¿Cómo quieres aprender hoy?
            </h2>
            <p class="text text--md text--gris text-center text--lite">
                Suscríbete hoy a la mejor experiencia en educación online e ingresa al mundo del Marketing Digital. 
            </p>
            <a href="" class="btn btn--academy2 btn-rojo btn--right btn-xlg margin--t1 text--upper">
                empieza ahora
            </a>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-blueGrandient sidebar-blueGrandient--cero1 sidebar-add__montainR">
    <div class="sidebar-parallax visible-lg">
        <img src="existaya/images/nubes-left.png" alt="" id="nubes_left1" class="sidebar-parallax__nubes1" />
        <img src="existaya/images/nubes-right.png" alt="" id="nubes_left2" class="sidebar-parallax__nubes2" />
    </div>
    <div class="container">
        <div class="col-xs-5">
            <img src="existaya/images/image1.png" alt="" class="img-responsive pull-left margin--t5">
        </div>
        <div class="col-xs-6">
            <h1 class="text text--xxlg text-left text--azul_mid text--upper">
                <span class="text--xbold">Clases 100% en español,</span><br>APRENDIZAJE PRÁCTICO REAL
            </h1>
            <p class="text text--md text--gris">
                Clases paso a paso, no necesitas experiencia.<br>Aprenderás cada detalle necesario para lograr tu objetivo
            </p>

            <div class="row">
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="existaya/images/bullet1.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Aprende a tu ritmo y necesidad
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="existaya/images/bullet2.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Certifica tus conocimientos
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="existaya/images/bullet3.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Profesores con 
                        más de 10 años de 
                        experiencia
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
 
<% include ../footer.html %>    
