<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="salon">

        <div class="col-xs-12">
            <div class="row">
                <div id="tabsLecciones" class="carousel slide carousel--tabsDetalle" data-ride="carousel" data-interval="false" data-wrap="false">
                    <div class="carousel-inner" role="listbox">
                        
                        <div class="item" ng-class="{active:$first, active:packItemPosition == $index}" ng-repeat="packModules in simpleItems">
                            <ul class="nav nav-tabs nav-justified nav-tabs--detalleClase" role="tablist">
                                <li ng-repeat="module in packModules" role="presentation" ng-class="{ active:$first}">
                                    
                                    <a tooltip="{{module.module_name}}" tooltip-placement="top" pk="{{module.module_pk}}"  aria-controls="{{module.module_name}}" role="tab" data-toggle="pill" ng-click="jumpModulePosition($index)">
                                        {{module.module_name | words:4 }}
                                        <br>
                                        <span>{{dataSimpleCourse.course.name | lowercase}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="left carousel-control" ng-click="downPackItem()" role="button" data-slide="prev" ng-if="simpleItems.length > 1  && packItemPosition > 0">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                        </a>
                        <a  class="right carousel-control" ng-click="upPackItem()"role="button" data-slide="next" ng-if="simpleItems.length > 1 && packItemPosition < (simpleItems.length - 1)">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                        </a>

                    <div class="tab-content">
                        <div role="tabpanel" class="" id="leccion">
                            <div class="col-xs-12 list-simple">
                                <ul class="nav nav-pills nav-pills--setps nav-justified">
                                    <li class="" ng-class="{active:$first, active:$index == submodulePosition, visited:modules[modulePosition].submodules[$index].has_seen}" ng-repeat="submodule in dataSimpleCourse.modules[modulePosition].submodules" ng-click="jumpSubmodulePosition($index)">
                                        <a aria-controls="leccion1-step1"  role="tab" data-toggle="tab" ng-click="jumpSubmodulePosition($index)"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-9 list-simple">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="submodule_{{modulePosition}}_{{submodulePosition}}" >
                                        <div class="embed-responsive embed-responsive-16by9 submoduleVideo">
                                            <div id="embedVideo"></div>
                                        </div>
                                    <div class="clearfix"></div>
                                    <table class="table table--recursos margin--t2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Recursos: Lecturas Recomendadas
                                                </th>
                                                <th>
                                                    Autor
                                                </th>
                                                <th class="text-center">
                                                    Acción
                                                </th>
                                            </tr>
                                            <tr ng-repeat=" content in dataSimpleCourse.modules[modulePosition].submodules[submodulePosition].contents " ng-if="$index>0">
                                                <td>
                                                    {{content.content_name}}
                                                </td>
                                                <td>    
                                                    <strong> - - - </strong>
                                                </td>
                                                <td style="text-align:center;">
                                                    <a href="{{content.file[0]}}" target="_blank" class="btn btn-gosh btn-xsm btn-gosh--verde text--upper" download>
                                                        Descargar
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                           </div>
                            <div class="col-xs-12 text-right margin--t1">
                                <a ng-click="downSubmodule()" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05" ng-hide="submodulePosition == 0">
                                    Anterior
                                </a>
                                <a ng-click="upSubmodule()" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05" ng-hide="submodulePosition == modules[modulePosition].submodules.length -1">
                                    Siguiente
                                </a>
                            </div>
                        </div>
                        </div>
                         <div class="col-xs-3 sidebar-right text-center">
                            <p class="text text--lite text--gris margin--b1 margin--t05 text--xbold">
                                Progreso {{modules[modulePosition].module_name}}
                            </p>
                            <div class="c100 center p{{exam_score}} center-block">
                                <span>{{exam_score}}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                                <p class="text text--lite text--gris text--upper margin--b0 margin--t2 hidden">
                                    Puntos de marketing ninja:
                                </p>
                                <p class="text text--xbold text--xxlg text--gris text--upper margin--b0 margin--t0 hidden">
                                80  
                            </p>
                            <div class="clearfix"></div>
                            <a class="btn btn-verde btn-lg margin--t1 BlockTest"  data-mode="1" target="_blank" ng-click="open_test()" ng-disabled="modules[modulePosition].contents[0].content_button_info.attempts_left != null && modules[modulePosition].contents[0].content_button_info.attempts_left <= 0">
                                    Realizar Evaluación
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="show_test">
    <div id="background_gray">
        <a class="pull-right">
            <img src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/close.gif"  ng-click="close_test()">
        </a>
    </div>

    <div id="typeform-wrapper" class="popup show" style="">
        <div ng-include="template"></div>
    </div>
</div>

