<% include ../head.html %>
<navbar></navbar>
<script>
    user = {}
    user.logged = <%= user.logged %>;
    user.username = "<%= user.info != undefined ? user.info.username : '' %>";
    user.first_name = "<%= user.info != undefined ? user.info.first_name : '' %>";
    user.last_name = "<%= user.info != undefined ? user.info.last_name : '' %>";
    slug = "<%= slug %>";
    data = {};
    data.name = "<%= course.name %>";
    data.description = "<%= course.description %>";
    data.category = "<%= course.category %>";
    data.type = "<%= course.type %>";
    data.about = `<%- course.about %>`;
    data.duration = `<%- course.duration %>`;
    data.target = `<%- course.target %>`;
    data.video = `<%- course.video %>`;
    data.sessions = [];
    data.skills = [];
    <% if( course.ubs != null ){%>
        data.ubs = {
            pk : <%- course.ubs.pk %>,
            session : <%- course.ubs.session %>,
            initial_date : `<%- course.ubs.initial_date %>`,
            final_date : `<% course.ubs.final_date %>`
        }

    <%}else{%>
        data.ubs = null;
    <%}%>
    <% for(i in course.skills){%>
        <% skill = course.skills[i];%>
        data.skills.push({
            pk : <%= skill.pk %>,
            name : "<%= skill.name %>",
            description : "<%= skill.description %>"
        })
    <%}%>
    //TODO fill skills array
    data.image = "<%= course.image %>";
    <% for(i in course.sessions){ %>
        <% session = course.sessions[i]; %>
        initial = "<%= session.initial_date %>";
        initial = new Date(initial);
        initial = spanishDate(initial);
        final = "<%= session.final_date %>";
        final = new Date(final);
        final = spanishDate(final);
            data.sessions.push({
                pk : "<%= session.pk %>",
                initial_date : "<%= session.initial_date %>",
                final_date : "<%= session.final_date %>",
                total_seconds : "<%= session.total_seconds %>",
                initial : initial,
                final : final

            })
    <%}%>
    data.modules = [];
    <% for(i in course.modules){%>
        <% module = course.modules[i];%>
        data.modules.push({
            pk : <%= module.pk %>,
            name : "<%= module.name %>",
            description : "<%= module.description %>"
        })
    <%}%>
    data.goals = `<%- course.goals %>`;
    data.tutors = [];
    <% for(i in course.tutors){%>
        <% tutor = course.tutors[i]; %>
        data.tutors.push({
            username : "<%- tutor.username %>",
            pk : <%- tutor.pk %>,
            first_name : "<%= tutor.first_name %>",
            last_name : "<%= tutor.last_name %>",
            avatar : "<%- tutor.avatar%>".split("?")[0],
            about : `<%= tutor.about %>`,
            jobtitle : "<%= tutor.jobtitle %>"
                   
        })

    <%}%>   
    data.prerequisites = [];
    <% for(i in course.prerequisites){%>
    <% prerequisite = course.prerequisites[i]; %>
        data.prerequisites.push({
            "pk" : "<%- prerequisite.pk %>",
            "name" : "<%- prerequisite.name  %>",
            "description" : "<%- prerequisite.description %>",
            "uuid" : "<%- prerequisite.uuid %>",
            "slug" : "<%- prerequisite.slug %>"

        })
    <%}%>




</script>
<script src="/existaya/controllers/courseDetails.js"></script>
<div ng-controller="courseDetails" ng-cloak>
<section class="col-xs-12 sidebar-yellowGrandient sidebar-yellowGrandient--cursos sidebar-add__montain">
    <div class="container sidebar-section">
        <div class="col-xs-7">
            <span class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                {{ dataDetails.type }}
            </span></br>
            <h1 class="courseDetailTitle text text--azul_mid text--xxxxlg text--xbold margin--b0 text-space1 text--upper">
               {{dataDetails.name}}
            </h1>
            <p class=" courseDetailDescription text text--md text--gris text-space1 margin--t1">
                {{ dataDetails.description | limitTo:200}}
            </p>
            <% if(user.token != undefined ){%>
                <% if(course.ubs!= null){%>  
                    <a href="/course/<%- slug%>" class="btn btn--academy2 btn-verde btn-xlg text--upper margin--t1 margin--b1" ng-if="!hideButton">
                            Ingresar
                        </a>
                    <%}else{%>
                    <a href="#" class="btn btn--academy2 btn-rojo btn-xlg text--upper margin--t1 margin--b1 inscribeUser" slug="<%- slug%>" user="<%- user.info.username %>">
                            Inscríbete
                        </a>
                    <%}%>

            <%}else{%>

                <%- user.token %>
                
                <a href="#" class="btn btn--academy2 btn-rojo btn-xlg text--upper margin--t1 margin--b1" data-toggle="modal" data-target="#js-ingreso">
                    Inscríbete
                </a>
            <%}%>
        </div>
        <div class="col-xs-5">

            <img ng-src="{{dataDetails.image.split('?')[0]}}" alt="" class="img-responsive" ng-if="dataDetails.video == ''">
            <course-video video="dataDetails.video" ng-if="dataDetails.video != ''"></course-video>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-section3 sidebar-blanco">
    <div class="container">
        <div class="col-xs-8">
            <h2 class="text text--azul_mid text--xxxlg text--xbold margin--b05 text-space1">
                Acerca del Curso
            </h2>
            <c-details about="{{dataDetails.about}}"></c-details>
            <h3 class="text text--lg text--xbold margin--b1 text-space1 margin--t1">
                Competencias a desarrollar:
            </h3>
            <p class="text text--gris text--xbold">
                Al finalizar este curso usted estará en capacidad de:
            </p>
            <!--<competencies-list data="{{dataDetails.competencies}}"></competencies-list>-->
            <skills-list data="dataDetails.skills"></skills-list>
            
            <h2 class="text text--azul_mid text--xxxlg text--xbold margin--b05 margin--t1 text-space1">
                Temario
            </h2>
            <p class="text text--gris text--xbold" >
                Este curso se divide en {{dataDetails.modules.length}}
                <span ng-if="dataDetails.modules.length > 1">módulos semanales así</span>
                <span ng-if="dataDetails.modules.length == 1">módulo</span>:
            </p>
            <ul class="list-items margin--t1 text text--gris">
                <li ng-repeat="module in dataDetails.modules">
                    <span class="text--bold">{{module.name}}:</span> {{module.description}}
                </li>
            </ul>
            <h3 class="text text--lg text--xbold margin--b1 text-space1 margin--t1">
                Preguntas que podrá resolver después de completar el curso:
            </h3>
                <c-goals goals="{{dataDetails.goals}}"></c-goals>

            <hr class="sep sep--gris sep--lg">

            <h3 class="text text--md text--xbold margin--b1 text-space1 margin--t1">
                Profesores:
            </h3>
            <div class="row" ng-repeat="tutorData in dataDetails.tutors">
                <div class="col-xs-2 vertical-middle">
                    <img ng-src="{{tutorData.avatar}}" alt="" class="img-circle sidebar-imageCurso__image img-responsive avatar--tutor" ng-if="tutorData.avatar != null">
                    <img src="/existaya/images/avatarDefault.png" alt="" class="img-circle sidebar-imageCurso__image img-responsive avatar--tutor" ng-if="tutorData.avatar == null">
                </div>
                <div class="col-xs-10 vertical-middle">
                    <p class="text text--azul text--xbold text--md margin--t05 margin--b0">
                        {{tutorData.first_name}} {{tutorData.last_name}}
                    </p>
                    <p class="text text--gris text--sm margin--t0"> {{tutorData.jobtitle}}</p>
                </div>
                <div class="col-xs-12">
                    <p class="text text--gris text--lite">{{tutorData.about}} </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 sidebar-leftBlock">
            <h3 class="text text--azul_osc text--lg text--xbold text-space1">
                Sesiones
            </h3>
            <div class="form-group">
                <sessions-list data="{{dataDetails.sessions}}"></sessions-list>
            </div>

            <div class="clearfix"></div><hr class="sep sep--gris sep--xs">

            <div class="col-xs-6">
                <p class="text text--gris text--lite text--xs">
                    Duración:
                </p>
            </div>
            <p class="text text--gris text--lite text--xs">{{ weeks }} Semanas</p>
            <div class="clearfix"></div><hr class="sep sep--gris sep--xs">

            <div class="col-xs-6">
                <p class="text text--gris text--lite text--xs">
                    Horas semanales:
                </p>
            </div>
            <div class="col-xs-6">
                <p class="text text--gris text--lite text--xs" id="time-on-week">
                 {{ hours }} Horas
                </p>
            </div>

            <div class="clearfix"></div><hr class="sep sep--gris sep--xs">

            <h3 class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                ¿Quienes deben tomar este curso?
            </h3>
            <p class="text text--gris text--lite">
                <public-target target="dataDetails.target"></public-target>
            </p>

            <h3 class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                Requisitos previos
            </h3>
            <p class="text text--gris text--lite">
               <prerequisites-list data="dataDetails.prerequisites"></prerequisites-list>
            </p>
            <% if(user.token != undefined ){%>
                <% if(course.ubs!= null){%>  
                    <a href="/course/<%- slug%>" class="btn btn--academy2 btn-verde  text--upper" ng-if="!hideButton">
                            Ingresar
                        </a>
                    <%}else{%>

                    <a href="#" class="btn btn--academy2 btn-rojo btn-xlg text--upper margin--t1 margin--b1 inscribeUser" slug="<%- slug%>" user="<%- user.info.username %>">
                            Inscríbete
                        </a>
                    <%}%>

            <%}else{%>

                <%- user.token %>
                <a href="#" class="btn btn--academy2 btn-rojo text--upper" data-toggle="modal" data-target="#js-ingreso">
                    Ingresar
                </a>
            <%}%>

        <h3 class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                Lo que dice la gente
            </h3>
            <!--<div ng-controller="comments">
                <comments-on-course data="{{commentsForCourse}}"></comments-on-course>
            </div>-->
        </div>
        <div class="clearfix"></div><hr class="sep sep--gris sep--lg">
        <div class="col-xs-12">
            <h2 class="text text--gris text--lg text--xbold margin--b1 text-space1 margin--t1">
                Otros cursos de interes
            </h2>
            <div class="clearfix"></div>
            <courses-list limit="1" filter="related" slug="slug"></courses-list>
            <div class="col-xs-12 text-center margin--t3">
                <a href="/all_courses" class="btn btn--academy2 btn-verde btn-xlg text--upper">
                    Ver todos los cursos
                </a>
            </div>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-blueGrandient sidebar-blueGrandient--cero1 sidebar-add__montainR">
    <div class="sidebar-parallax visible-lg">
        <img src="/existaya/images/nubes-left.png" alt="" id="nubes_left1" class="sidebar-parallax__nubes1" />
        <img src="/existaya/images/nubes-right.png" alt="" id="nubes_left2" class="sidebar-parallax__nubes2" />
    </div>
    <div class="container">
        <div class="col-xs-5">
            <img src="/existaya/images/image1.png" alt="" class="img-responsive pull-left margin--t5">
        </div>
        <div class="col-xs-6">
            <h1 class="text text--xxlg text-left text--azul_mid text--upper">
                <span class="text--xbold">Clases 100% en español,</span><br>APRENDIZAJE PRÁCTICO REAL
            </h1>
            <p class="text text--md text--gris">
                Clases paso a paso, no necesitas experiencia.<br>Aprenderás cada detalle necesario para lograr tu objetivo
            </p>

            <div class="row">
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="/existaya/images/bullet1.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Aprende a tu ritmo y necesidad
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="/existaya/images/bullet2.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Certifica tus conocimientos
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="/existaya/images/bullet3.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Profesores con 
                        más de 10 años de 
                        experiencia
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<script>
buttons =  document.querySelectorAll(".inscribeUser");
for(b in buttons){
    button = buttons[b];
    button.onclick = function(event){
        document.querySelector(".loaderGIF").style.display="block";
        xhr = new XMLHttpRequest();
        user = event.target.attributes.user.nodeValue;
        slug = event.target.attributes.slug.nodeValue;
        xhr.open("GET","/api/course/inscribe/"+user+"/"+slug);
        xhr.onreadystatechange = function(){
            response = xhr.response;
            response = JSON.parse(response);
            console.log(typeof(response));

            document.querySelector(".loaderGIF").style.display="none";
            if(response.status == "ok"){
                location.reload();
            }
        }
        xhr.send();
    }
}
/**addEventListener("click", function( event ) {
    // display the current click count inside the clicked div
    event.target.innerHTML = "click count: " + event.detail;       
}, false);*/
</script>
<% include ../footer.html %>
