<% include ../head.html %>
<navbar></navbar>
<script>
    interval_content = [];
    var slug = `<%= slug %>`;
    var data = {};
    data.tutors = [];
    <% for(t in dataStudent.tutors){%>
        <% tutor = dataStudent.tutors[t];%>
        data.tutors.push({
            first_name : `<%- tutor.first_name%>`,
            last_name : `<%- tutor.last_name %>`,
            pk : `<%- tutor.pk %>`,
            avatar : `<%- tutor.avatar ? tutor.avatar.split("?")[0] : "images/avatarDefault.png" %>`,
            about : `<%- tutor.about %>`,
            jobtitle : `<%- tutor.jobtitle %>`
        })
    <%}%>
    data.tribes = [];
    <% for(t in dataStudent.tribes){%>
    <% tribe = dataStudent.tribes[t];%>
        data.tribes.push({
            description : `<%- tribe.description %>`,
            name : `<%- tribe.name %>`,
            slug : `<%- tribe.slug %>`,
            participation : <%- tribe.participation %>,
            id : <%- tribe.id %>,
            topics : []
        })
        <% for(i in tribe.topics){%>
            <% topic = tribe.topics[i];%>
            data.tribes[<%- t %>].topics.push({
                description : `<%- topic.description %>`,
                id : <%- topic.id %>,
                participation :<%- topic.participation %>,
                name : `<%- topic.name %>`
            })
        <%}%>
    <%}%>
    <% course = dataStudent.course;%>
    data.course = {
        cost : `<%= course.cost %>`,
        video : `<%= course.video %>`,
        duration : `<%= course.duration %>`,
        category : `<%= course.category %>`,
        area : `<%= course.area %>`,    
        ubs : `<%= course.ubs %>`,
        version : `<%= course.version %>`,
        objective : `<%= course.objective %>`,
        pk : `<%= course.pk %>`,
        percentage : `<%= course.percentage %>`,
        type : `<%= course.type %>`,
        public : <%= course.public %>,
        update : `<%= course.update %>`,
        description : `<%= course.description %>`,
        tags : `<%= course.tags %>`,
        type_pk : `<%= course.type_pk %>`,
        goals : `<%- course.goals %>`,
        active : <%= course.active %>,
        area_pk : `<%= course.area_pk %>`,
        target_public : `<%- course.target_public %>`,
        name : `<%= course.name %>`,
        created : `<%= course.created %>`,
        category_pk : `<%= course.category_pk %>`,
        general_objective : `<%= course.general_objective %>`,
        skills : [],
        prerequisites : [],
    }
    <% for(prerequisite in course.prerequisites){%>
    <% prerequisite = course.prerequisites[prerequisite];%>
        data.course.prerequisites.push({
            name : `<%- prerequisite.name %>`,
            description : `<%- prerequisite.description %>`,
            slug : `<%- prerequisite.slug %>`   
        })
    <%}%>
    <% for(skill in course.skills){%>
    <% skill = course.skills[skill];%> 
        data.course.skills.push({
name : `<%- skill.name %>`,
description : `<%- skill.description %>`,
pk : `<%- skill.pk %>`
})
<%}%>
data.modules = [];
<% for(m in dataStudent.modules ){%>
    <% module = dataStudent.modules[m];%>
        data.modules.push({
            tasks: [],
            submodules: [],
            module_pk: <%= module.module_pk %>,
            module_description: `<%- module.module_description %>`,
            objects: [],
            module_name: `<%= module.module_name %>`,
            contents: [], 
            module_image: `<%= module.module_image %>`, 
            position: <%= module.position %>,
            percentage_done: <%= module.percentage_done  %>,
        
        })
<% for( val in module.objects){ %>
    <% object = module.objects[val]; %>
        data.modules[<%= m %>].objects.push({
                "object_name": `<%- object.object_name %>`,
                "module_pk": <%- object.module_pk %>, 
                "quantity_participation": `<%- object.quantity_participation %>`,
                "url": `<%- object.url %>`,
                "object_description": `<%= object.object_description %>`, 
                "type": `<%- object.type %>`, 
                "object_id": `<%= object.object_id %>`,
                "is_unavailable": <%= object.is_unavailable %>
                })
    <%}%>
    <% for(val in module.tasks){%>
        <% task = module.tasks[val];%>
            data.modules[<%= m %>].tasks.push({
                    "task_name": `<%- task.task_name %>`, 
                    "task_description": `<%- task.task_description %>`, 
                    "task_percentage": `<%- task.task_percentage %>`,
                    "task_initial_date": `<%- task.task_initial_date %>`, 
                    "task_final_date": `<%- task.task_final_date %>`, 
                    "task_show_initial_date": `<%- task.task_show_final_date %>`,
                    "task_show_final_date": `<%- task.task_show_final_date%>`,
                    "task_data": `<%- task.task_data %>`, 
                    "task_position": `<%- task.task_position %>`, 
                    "task_id": `<%- task.taskl_id %>`
                    })

        <%}%>
        <% for(val in module.submodules){%>

            <% submodule = module.submodules[val];%>

            data.modules[<%= m %>].submodules.push({
                completed : "<%- submodule.completed %>" == "true",
                tasks: [],
                module_pk: <%= submodule.module_pk %>,
                module_description: `<%= submodule.module_description %>`,
                objects: [],
                module_name: `<%= submodule.module_name %>`,
                contents: [], 
                module_image: `<%= submodule.module_image %>`,
                position: <%= submodule.position %>,
                percentage_done: <%= submodule.percentage_done  %>,

            })
            <% for(value in submodule.tasks){%>
                <% task = submodule.tasks[value];%>
                    data.modules[<%= m %>].submodules[<%- val %>].tasks.push({
                            "task_name": `<%- task.task_name %>`, 
                            "task_description": `<%- task.task_description %>`, 
                            "task_percentage": `<%- task.task_percentage %>`,
                            "task_initial_date": `<%- task.task_initial_date %>`, 
                            "task_final_date": `<%- task.task_final_date %>`, 
                            "task_show_initial_date": `<%- task.task_show_final_date %>`,
                            "task_show_final_date": `<%- task.task_show_final_date%>`,
                            "task_data": `<%- task.task_data %>`, 
                            "task_position": `<%- task.task_position %>`, 
                            "task_id": `<%- task.taskl_id %>`
                            })
                <%}%>


    <% for( value in submodule.objects){ %>
        <% object = submodule.objects[value]; %>
            data.modules[<%= m %>].submodules[<%= val %>].objects.push({
                    "object_name": `<%- object.object_name %>`,
                    "module_pk": <%- object.module_pk %>, 
                    "quantity_participation": `<%- object.quantity_participation %>`,
                    "url": `<%- object.url %>`,
                    "object_description": `<%= object.object_description %>`, 
                    "type": `<%- object.type %>`, 
                    "object_id": `<%= object.object_id %>`,
                    "is_unavailable": <%= object.is_unavailable %>
                    })

        <%}%>


        <% for(value in submodule.contents){%>
            <% content = submodule.contents[value];%>
                data.modules[<%- m %>].submodules[<%= val %>].contents.push({
                        "content_name" : `<%= content.content_name %>`, 
                        "content_description": `<%= content.content_description%>`, 
                        "content_button_info": {
                        "show_message_effectivity": <%= content.content_button_info.show_message_effectivity %>, 
                        "exam_score": <%- content.content_button_info.exam_score %>, 
                        "num_attempts": parseInt("0"+`<%= content.content_button_info.num_attempts %>`), 
                        "passed": `<%= content.content_button_info.passed %>`, 
                        "available":  <%= content.content_button_info.available %>, 
                        "show_button":  <%= content.content_button_info.show_button %>,
                        "show_report":  <%= content.content_button_info.show_report %>, 
                        "download": ` <%= content.content_button_info.download %>`,
                        "show_corrections":  <%= content.content_button_info.show_corrections %>,
                        "self_grade": ` <%= content.content_button_info.self_grade %>`,
                        "show_score":  <%= content.content_button_info.show_score %>,
                        "attempts_left":  parseInt("0"+`<%- content.content_button_info.attempts_left %>`),
                        "show_exam":  <%= content.content_button_info.show_exam %>,
                        "initial_date": `<%= content.content_button_info.initial_date %>`,
                        "final_date": `<%= content.content_button_info.final_date %>`,
                        },
                        "content_position": `<%= content.content_position %>`, 
                        "content_pk": <%= content.content_pk%>, 
                        'template': "<%= content.template %>", 
                        "can_open" : <%= content.can_open %>,
                        "content_initial_date": `<%= content.content_initial_date%>`, 
                        "content_final_date": `<%= content.content_final_date %>`, 
                        "show_initial_date": `<%= content.show_initial_date %>`, 
                        "show_final_date":`<%= content.show_final_date %>`, 
                        "content_aprobation": `<%= content.content_aprobation %>`,
                        "content__display_mode": `<%= content.content__display_mode %>`, 
                        "content_training": `<%= content.content_training %>`, 
                        'content_opportunities': "<%= content.content_opportunities %>", 
                        "cim_pk": `<%= content.cim_pk %>`, 
                        "file_url" : (`<%= content.file %>`).split(",")[0].split("?")[0], 
                        "bonus" : `<%= content.bonus %>`, 
                        "cim" : `<%= content.cim %>`,
                        "text" : `<%- content.text %>` 
                })
            <%}%>

            <%}%>

            <% for(val in module.contents){%>
                <% content = module.contents[val];%>
                    data.modules[<%- m %>].contents.push({
                            "content_name" : `<%= content.content_name %>`, 
                            "content_description": `<%= content.content_description%>`, 
                            "content_button_info": {
                            "show_message_effectivity": <%= content.content_button_info.show_message_effectivity %>, 
                            "exam_score": <%= content.content_button_info.exam_score %>, 
                            "num_attempts": parseInt("0"+`<%= content.content_button_info.num_attempts %>`), 
                            "passed": <%= content.content_button_info.passed %>, 
                            "available":  <%= content.content_button_info.available %>, 
                            "show_button":  <%= content.content_button_info.show_button %>,
                            "show_report":  <%= content.content_button_info.show_report %>, 
                            "download": ` <%= content.content_button_info.download %>`,
                            "show_corrections":  <%= content.content_button_info.show_corrections %>,
                            "self_grade": <%= content.content_button_info.self_grade %>,
                            "show_score":  <%= content.content_button_info.show_score %>,
                            "attempts_left":  parseInt("0"+`<%- content.content_button_info.attempts_left %>`),
                            "show_exam":  <%= content.content_button_info.show_exam %>,
                            "initial_date": `<%= content.content_button_info.initial_date %>`,
                            "final_date": `<%= content.content_button_info.final_date %>`,
                            },
                            "content_position": `<%= content.content_position %>`, 
                            "content_pk": <%= content.content_pk%>, 
                            'template': "<%= content.template %>", 
                            "can_open" : <%= content.can_open %>,
                            "content_initial_date": `<%= content.content_initial_date%>`, 
                            "content_final_date": `<%= content.content_final_date %>`, 
                            "show_initial_date": `<%= content.show_initial_date %>`, 
                            "show_final_date":`<%= content.show_final_date %>`, 
                            "content_aprobation": `<%= content.content_aprobation %>`,
                            "content__display_mode": `<%= content.content__display_mode %>`, 
                            "content_training": `<%= content.content_training %>`, 
                            'content_opportunities': "<%= content.content_opportunities %>", 
                            "cim_pk": `<%= content.cim_pk %>`, 
                            "file_url" : (`<%= content.file %>`).split(",")[0], 
                            "bonus" : `<%= content.bonus %>`, 
                            "cim" : `<%= content.cim %>`,
                            "text" : `<%- content.text %>`
                    })
                <%}%>
                <%}%>
        var  charge=setInterval(function(){
            if($("#category").length > 0){
                $("#category").html(data.course.type);
                $("#namecourse").html(data.course.name);
                clearInterval(charge);
            }
        },100)
</script>
<script src="/existaya/controllers/courseContentController.js"></script>
<div ng-controller="courseContentController">
    <section class="col-xs-12 sidebar-detalleContenidoCurso" ng-cloak>
        <div class="row">
            <div class="container">
                <div class="col-xs-6">
                    <p class="text text--azul_osc text--m text--xbold text-space1 margin--t0 margin--b0 text--upper">
                    {{ dataSimpleCourse.course.type }}
                    </p>
                    <h1 class="text text--gris text--xlg margin--t0 margin--b0">
                        {{ dataSimpleCourse.course.name }}
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="col-xs-12">
        <div class="row">
            <div class="container">
                <div class="col-xs-2 sidebar-contenidoCurso sidebar-add__montainR margin--b5">
                    <div class="">
                        <div class="panel-group panel-group--detalleCurso" id="accordContenidos" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <a href="#salon" aria-controls="salon" role="tab" data-toggle="tab" class="">
                                        <span class="icon-icon-2"></span> Salón de Clase
                                    </a>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <a href="#descripcionCurso" aria-controls="descripcionCurso" role="tab" data-toggle="tab">
                                        <span class="icon-icon"></span> Sobre el Curso
                                    </a>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <a href="#recursos" aria-controls="recursos" role="tab" data-toggle="tab">
                                        <span class="icon-icon-3"></span> Recursos
                                    </a>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <a href="#foros" aria-controls="foros" role="tab" data-toggle="tab">
                                        <span class="icon-icon-4"></span> Foros
                                    </a>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <a href="#evaluaciones" aria-controls="evaluaciones" role="tab" data-toggle="tab">
                                        <span class="icon-icon-5"></span> Evaluaciones
                                    </a>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <a href="#profesores" aria-controls="profesores" role="tab" data-toggle="tab">
                                        <span class="icon-icon-6"></span> Profesores
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="salon">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div id="tabsLecciones" class="carousel slide carousel--tabsDetalle" data-ride="carousel" data-interval="false" data-wrap="false">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item" ng-repeat="pack in modulesPack" ng-class="{ active:$first}">

                                                <ul class="nav nav-tabs nav-justified nav-tabs--detalleClase" role="tablist">
                                                    <li role="presentation" class="moduleTab" ng-repeat="module in pack" ng-class="{active:$first}" style="width:200px;">
                                                    <a href="#module{{module.module_pk}}" aria-controls="leccion1" role="tab" data-toggle="pill" ng-click="markContentAsSeen(module.submodules[0].contents[0].content_pk, module.submodules[0].module_pk)" style="height: 65px;">
                                                        {{ module.module_name }}

                                                    </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#tabsLecciones" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        </a>
                                        <a class="right carousel-control" href="#tabsLecciones" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="tab-content">

                                        <div role="tabpanel" class="tab-pane" ng-repeat="module in dataSimpleCourse.modules" id="module{{module.module_pk}}" ng-class="{active:$first}">
                                            <div class="col-xs-12 list-simple">
                                                <ul class="nav nav-pills nav-pills--setps nav-justified" style="margin-top: 5px; margin-bottom: 5px;">
                                                    <li  ng-repeat="submodule in module.submodules" ng-class="{active:$first,visited:$first, visited:submodule.completed}"  ng-click="markContentAsSeen(submodule.contents[0].content_pk, submodule.module_pk)"> 
                                                    <a href="#module{{module.module_pk}}submodule{{submodule.module_pk}}" aria-controls="module{{module.module_pk}}-submodule{{submodule.module_pk}}" role="tab" data-toggle="tab"</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-9 list-simple">
                                                <div class="tab-content">

                                                    <div ng-repeat="submodule in module.submodules" role="tabpanel" class="tab-pane" id="module{{module.module_pk}}submodule{{module.submodules[$index].module_pk}}" ng-class="{active:$first}"> 
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe-embed data="submodule.contents[0].text" pk="submodule.contents[0].content_pk"></iframe-embed>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <table class="table table--recursos margin--t2">
                                                            <tbody><tr>
                                                                <th>
                                                                    Recursos: Lecturas Recomendadas
                                                                </th>
                                                                <th>
                                                                    Autor
                                                                </th>
                                                                <th>
                                                                    Acción
                                                                </th>
                                                            </tr>
                                                            <tr ng-repeat="resource in submodule.contents" ng-if="$index > 0">
                                                                <td>
                                                                    {{ resource.content_name }}
                                                                </td>
                                                                <td>
                                                                    <strong>Google</strong>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-ghosh btn-xsm btn-gosh--verde pull-right text--upper" ng-click="downloadFile(resource.content_pk)">Descargar</button>

                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 sidebar-right text-center">
                                                <p class="text text--lite text--gris margin--b1 margin--t05 text--xbold">
                                                Progreso Módulo {{module.position +1}} 
                                                </p>
                                                <div class="c100 center p{{module.contents[0].content_button_info.exam_score}} center-block">
                                                    <span>{{ module.contents[0].content_button_info.exam_score }}%</span>
                                                    <div class="slice">
                                                        <div class="bar"></div>
                                                        <div class="fill"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <p class="text text--lite text--gris text--upper margin--b0 margin--t2 hidden">
                                                Puntos de marketing ninja:
                                                </p>
                                                <p class="text text--xbold text--xxlg text--gris text--upper margin--b0 margin--t0 hidden">
                                                80
                                                </p>
                                                <div class="clearfix"></div>
                                                <a class="btn btn-verde btn-lg margin--t1" ng-click="open_test(json_modules[module.contents[0].content_pk])" data-mode="1" target="_blank" ng-disabled="!module.contents[0].content_button_info.show_button">
                                                    Realizar Evaluación
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="descripcionCurso">
                            <h1 class="text text--lite text--xlg margin--t1 text--gris_osc text--xbold">
                                Descripción del curso
                            </h1>
                            <p class="text text--gris_osc">
                            {{ dataSimpleCourse.course.description }}
                            </p>
                            <div class="col-xs-12 bg bg-gris">
                                <h2 class="text text--xbold text--verde">
                                    Competencias a desarrollar
                                </h2>
                            </div>
                            <h3 class="text text--bold margin--t2">
                                Al finalizar este curso usted estará en capacidad de:
                            </h3>

                            <skills-list-green data="dataSimpleCourse.course.skills"></skills-list-green>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 bg bg-gris">
                                <h2 class="text text--xbold text--verde">
                                    Temas a desarrollar cada semana
                                </h2>
                            </div>
                            <dl ng-repeat="module in dataSimpleCourse.modules">
                                <dt class="text--azul_osc">
                                {{ module.module_name }}
                                </dt>
                                <dd class="text--azul_osc">
                                {{module.module_description}}
                                </dd>
                            </dl>
                            <h3 class="text text--bold margin--t2">
                                Preguntas que podrá resolver después de completar el curso:
                            </h3>
                            <div>
                                <c-goals-green goals="{{dataSimpleCourse.course.goals}}"></c-goals>
                            </div>
                            <h3 class="text text--bold margin--t2">
                                ¿Quienes deben tomar este curso? (Perfil del aspirante)
                            </h3>
                            <p class="text text--gris_osc">
                            <target-public target="dataSimpleCourse.course.target_public"></target-public>
                            </p>
                            <p class="text text--gris_osc">
                            <span class="text--xbold">Requisitos Previos:</span> 
                            <ul>
                                <li ng-repeat="requisite in dataSimpleCourse.course.prerequisites">
                                {{requisite.name}}
                                <a href="/course/{{requisite.slug}}/details" class="text--azul">(Ver informaci{on )</a>
                                </li>
                            </ul>
                            </p>
                            <a href="#salon"  aria-controls="salon" role="tab" data-toggle="tab" class="btn btn-verde btn-lg margin--t2">
                                iniciar clase
                            </a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="recursos">
                            <h1 class="text text--lite text--xlg margin--t1 text--gris_osc text--xbold">
                                Recursos del curso
                            </h1>
                            <table class="table table--recursos margin--t2">
                                <tbody><tr>
                                    <th>
                                        Recursos: Lecturas Recomendadas
                                    </th>
                                    <th>
                                        Autor
                                    </th>
                                    <th>
                                        Acción
                                    </th>
                                </tr>
                                <tr ng-repeat="resource in resources">
                                    <td>
                                        {{resource.content_name}}
                                    </td>
                                    <td>
                                        <strong>Google</strong>
                                    </td>
                                    <td>
                                        <a href="{{ resource.file_url }}" class="btn btn-gosh btn-xsm btn-gosh--verde pull-right text--upper" download id="content{{ resource.content_pk}}">
                                            Descargar
                                        </a>
                                    </td>
                                </tr>
                            </tbody></table>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="foros">
                            <div ng-controller="tribes">
                                <div id="foros" ng-show="showTopics">
                                    <h1 class="text text--lite text--xlg margin--t1 text--gris_osc text--xbold">
                                        Foro
                                    </h1>
                                    <hr>
                                    <ul class="list-group">
                                        <li class="list-group-item forum-header">
                                        <ul class="row list-unstyled">
                                            <li class="col-md-5">
                                            <strong><i class="fa fa-commenting-o"></i> Temas de Discusión</strong>
                                            </li>
                                            <li class="col-md-2 text-center">
                                            <strong><i class="fa fa-users"></i> Participantes</strong>
                                            </li>
                                            <li class="col-md-2 text-center">
                                            <strong><i class="fa fa-user-plus"></i> Comentarios</strong>
                                            </li>
                                            <li class="col-md-3 text-center">
                                            <strong><i class="fa fa-info-circle"></i> Detalles</strong>
                                            </li>
                                        </ul>
                                        </li>
                                        <li class="list-group-item" ng-repeat="items in tribesModule[0].topics">
                                        <ul class="row list-unstyled">
                                            <li class="col-md-5" id="tribe{{items.id}}">
                                            <a href="" class="linkTribe" ng-click="openTopic(items.id)"><h3>{{items.name}}</h3></a>
                                            <span><strong>Iniciado por: </strong></span><span>{{tribesDetails.creator.name}} {{tribesDetails.creator.lastname}}</span>
                                            </li>
                                            <li class="col-md-2 text-center margin_label">
                                            <div class="label_audience label_audiencie_blue">{{tribesDetails.topics[$index].users_commented}}</div>
                                            </li>
                                            <li class="col-md-2 text-center margin_label">
                                            <div class="label_audience label_audiencie_green">{{tribesDetails.topics[$index].comments}}</div>
                                            </li>
                                            <li class="col-md-3 text-center margin_label">
                                            <span><strong>Fecha de creación:</strong></span>
                                            <br>
                                            <span>{{tribesDetails.topics[$index].date_created}}</span>
                                            </li>
                                        </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- modal Topic -->

                                <div class="modalTopic" ng-show="open">
                                    <div class="container">
                                        <a href="" ng-click="openTopic()"><i class="fa fa-home"></i> {{tribesDetails.name}}</a> <i class="fa fa-caret-right"></i> {{topicName}}
                                        <a href="" ng-click="openTopic()" class="closeModalTopic pull-right"><strong>X</strong></a>	
                                    </div> 
                                    <div class="clearfix"></div>
                                    <h4 class="well descriptionBgTopics"><strong>Asunto:</strong> {{topicDescription}}</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item forum-header">
                                        <ul class="row list-unstyled">
                                            <li class="col-md-3">
                                            <strong><i class="fa fa-user"></i> Autor</strong>
                                            </li>
                                            <li class="col-md-9 text-center">
                                            <strong><i class="fa fa-comment-o"></i> Comentario</strong>
                                            </li>
                                        </ul>
                                        </li>
                                        <li class="list-group-item text-center" ng-show="loaderTribe">
                                        <img src="/existaya/images/preloader.gif" alt="loader" class="img-responsive" width="30%">
                                        </li>
                                        <li class="list-group-item" ng-repeat="comments in comments" id="{{comments.id}}" ng-show="commentsVisible">
                                        <ul class="row list-unstyled">
                                            <li class="col-md-3 text-center profileAutor">
                                            <p>{{comments.user.name}} {{comments.user.lastname}}</p>
                                            <img ng-if="comments.user.avatar != ''" ng-src="{{comments.user.avatar}}" class="img-responsive img-circle col-md-6 col-md-offset-3" alt="avatar">
                                            <img ng-if="comments.user.avatar == ''" src="images/avatarDefault.png" class="img-responsive img-circle col-md-6 col-md-offset-3" alt="avatar">
                                            </li>
                                            <li class="col-md-9 profileComment"> 
                                            <div class="dateComment"><i class="fa fa-clock-o"></i> <span>{{comments.date_modified}}</span></div>
                                            <hr>
                                            <p ng-bind-html="parseHtml(comments.comment)"></p>
                                            </li>
                                        </ul>
                                        </li>
                                        <li ng-if="comments.length == 0" class="list-group-item" ng-show="alertComment">
                                        <div class="alert alert-warning text-center">No hay comentarios en este Tema</div>
                                        </li>
                                    </ul>

                                    <div class="well boxPost">
                                        <div class="confirmPost alert alert-success" ng-show="confirm_post"><a href="" class="closeAlert text-success" ng-click="closeAlert()"><i class="fa fa-times"></i></a><i class="fa fa-check fa-2x"></i> Tu post se a guardado satisfactoriamente</div>
                                        <div class="alertPost alert alert-warning" ng-show="alert_post"><a href="" class="closeAlert text-warning" ng-click="closeAlert()"><i class="fa fa-times"></i></a><i class="fa fa-times fa-2x"></i> Debes ingresar un comentario, cierre este mensaje y vuelve a intentarlo</div>
                                        <form class="container form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-2" for="message-box">Comentario:</label>
                                                <div class="col-md-10"> 
                                                    <textarea id="message-box" class="form-control" rows="3" placeholder="Escribe un comentario" ng-model="post"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-default pull-right" ng-click="addPost(post,topicId)">Enviar Comentario</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="evaluaciones">
                            <h1 class="text text--lite text--xlg margin--t1 text--gris_osc text--xbold">
                                Evaluaciones del curso
                            </h1>
                            <table class="table table--recursos margin--t2">
                                <tbody><tr>
                                    <th>
                                        Evaluación
                                    </th>
                                    <th>
                                        Oportunidades
                                    </th>
                                    <th class="text-center">
                                        Resultado
                                    </th>
                                    <th class="text-center">
                                        Acción
                                    </th>
                                </tr>
                                <tr ng-repeat="evaluation in evaluations">
                                    <td>
                                        {{ evaluation.content_name }}
                                    </td>
                                    <td class="text-center">
                                        <strong>
                                            {{evaluation.content_button_info.num_attempts}} / {{ evaluation.content_button_info.num_attempts + evaluation.content_button_info.attempts_left}}
                                        </strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>
                                            {{ evaluation.content_button_info.exam_score }}% 
                                        </strong>
                                    </td>
                                    <td>
                                        <a class="btn btn-gosh btn-xsm btn-gosh--verde pull-right text--upper" ng-click="open_test(json_modules[evaluation.content_pk])" data-mode="1" target="_blank" ng-disabled="!evaluation.content_button_info.show_button">
                                            Hacer Evaluación
                                        </a>

                                    </td>

                                </tr>
                            </tbody></table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profesores">
                            <h3 class="text text--lite text--xlg margin--t1 text--gris_osc text--xbold">
                                Profesores:
                            </h3>
                            <div class="row" ng-repeat="tutor in dataSimpleCourse.tutors">
                                <div class="col-xs-2 vertical-middle">
                                    <img src="{{tutor.avatar}}" alt="" class="img-circle sidebar-imageCurso__image img-responsive">
                                </div>
                                <div class="col-xs-10 vertical-middle">
                                    <p class="text text--azul text--xbold text--md margin--t05 margin--b0">
                                    {{ tutor.first_name}} {{ tutor.last_name }}
                                    </p>
                                    <p class="text text--gris text--sm margin--t0">
                                    {{ tutor.jobtitle }}
                                    </p>
                                </div>
                                <div class="col-xs-12">
                                    <p class="text text--gris text--lite">
                                    {{ tutor.about }}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="background_gray" ng-show="show_test" ng-cloak>
        <a class="pull-right">
            <img src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/close.gif"  ng-click="close_test()">
        </a>
        <div id="typeform-wrapper" class="popup show" style="">

            <div class="frameTest"> 
                <div class="confirm_finish" ng-show="confirmFinish">
                    Evaluación Terminada - las respuestas se han guardado.
                </div>  
                <div class="statement container">
                    <span class="col-md-1 text-center">
                        <span class="numberQuestion ">{{examSlide.fields.position + 1}}</span>
                    </span>

                    <span class="col-md-11">
                        {{examSlide.fields.question.fields.statement}}
                    </span>
                </div>
                <ul class="list-unstyled">
                    <div class="container containerFilds">
                        <div class="text-center" ng-show="loader"> 
                            <img src="/existaya/images/preloader.gif" alt="loader" class="img-responsive" width="30%" style="margin-left:35%">
                        </div>
                        <div class="containerAnswers container">
                            <div class="text-center" ng-if="examSlide.fields.question.extras.get_image_data != null"> 
                                <img id="questionImage" class="img-responsive" alt="">
                            </div>
                            <div ng-repeat="option in user_answers track by $index">
                                <div class="col-md-6">
                                    <div class="optionBg row">
                                        <span class="col-md-1 letter letterId-{{option.id}}" ng-class="{inactiveChoice:{{option.selected}}, block_cursor : {{disableChoices}} }" ng-click="saveAnswer(option.id)">{{getLetter($index)}}</span>
                                        <span id="{{option.id}}" class="col-md-11 labelField">{{option.option}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </ul>
                <div class="navQuestion"> 
                    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
                        <div class="avanced">
                            <span>{{examSlide.fields.position + 1}} de {{examData.extras.nr_slides}}</span>
                            <progressbar value="exam_percentage"></progressbar>
                        </div>
                    </div> 
                    <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9"> 
                        <div class="navButtons pull-right">
                            <a href="" ng-click="finish_exam(contentId, moduleId, examData.pk)" class="btnFinish not-active-button" ng-show="finishExam">Terminar</i></a>
                        <a href="" class="next_slide" ng-click="next_slide()" ng-show="arrowRight">
                            <i class="fa fa-chevron-right"></i>
                        </a> 
                        <a href="" class="prev_slide" ng-click="prev_slide()" ng-show="arrowLeft">
                            <i class="fa fa-chevron-left"></i>
                        </a> 
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>


<% include ../footer.html%>