<!DOCTYPE html>
<html class="no-js" ng-app="App" lang="es">
    <head>
    <!--<base href="/" />-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Marketing University: Entrenate, Certifica tus conocimientos en Marketing Digital</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/css-circle/css/circle.css">
        <script src="js/jquery.min.js"></script>

        <script src="angular/angular/angular.min.js"></script>
        <script src="angular/angular-route/angular-route.min.js"></script>
        <script src="js/angular-animate.js"></script>
        <script src="ui-bootstrap/ui-bootstrap-custom-0.13.4.js"></script>
        <script src="ui-bootstrap/ui-bootstrap-custom-tpls-0.13.4.js"></script>
        <script src="js/loader.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script> 
        <script src="js/pace.min.js"></script>
        <script>
        </script>
        <link rel="stylesheet" href="css/loader.css">
        <!-- Configuration file -->
        <script src="js/config.json"></script>
        <!-- Exceptions -->
        <script src="js/exceptions.js"></script>
        <!-- Functions -->
        <script src="js/functions.js"></script>
        <!--- //// MVC ///// -->
        <!-- Ellipsis -->
        <script src="js/angular-ellipsis.js"></script>
        <script src="js/truncate.js"></script>

        <!-- App -->
        <script src="js/main.js"></script>
        <script src="js/services.js"></script>
        <script src="models/models.js"></script>
        <script src="js/directives.js"></script>
        <!-- Controllers -->
        <script src="controllers/homeController.js"></script>
        <script src="controllers/courseContentController.js"></script>
        <script src="controllers/navbarController.js"></script>
        <!-- Models -->
        <!-- Directives -->
    </head>
    <body>
        
        <!-- Navbar -->
        <navbar></navbar>
        <!-- contenedor Dinamico -->
        <div  ng-view id="content-app"></div>
        <!-- footer -->
        <div class="" ng-include="'views/footer.html'"></div>
        <!--  MODAL DE INGRESO  -->
    </body>
</html>

